.card
  = render 'layouts/card_header', action_name: 'custom',
                                  title: "System Usage for #{@company.name}",
                                  icon: 'fa-area-chart'

  .card-body
    %table.table.table-striped.table-bordered
      %tr
        %th Item
        -@usage_headers.each_with_index do |header|
          %th= header[:label]

      - @usage_items.each_with_index do |item, item_index|
        %tr
          %td= item
          -@usage_headers.each_with_index do |header, header_index|
            %td= @usage_data[item_index][header_index]
