.card
  = render 'layouts/card_header', action_name: 'custom',
                                  title: "System Usage for #{@company.name}",
                                  icon: 'fa-area-chart'

  .card-body
    .row
      .col-lg-12
        .btn-group
          %a{class: "btn dropdown-toggle #{@mode == 'monthly' ? 'btn-success' : 'btn-warning'}", 'data-toggle': 'dropdown', href: '#'}
            = @mode.titlecase
          %ul.dropdown-menu
            %li= link_to 'Monthly', '/rad_common/system_usages?mode=monthly', class: 'dropdown-item'
            %li= link_to 'Weekly', '/rad_common/system_usages?mode=weekly', class: 'dropdown-item'
            %li= link_to 'Daily', '/rad_common/system_usages?mode=daily', class: 'dropdown-item'
    %table.table.table-striped.table-bordered
      %tr
        %th Item
        -@usage_headers.each_with_index do |header|
          %th= header[:label]

      - @usage_items.each_with_index do |item, item_index|
        %tr
          %td= item
          -@usage_headers.each_with_index do |header, header_index|
            %td= @usage_data[item_index][header_index]
