.card
  = render 'layouts/card_header', action_name: 'custom',
                                  title: @system_usage_search.title,
                                  icon: 'fa-area-chart'

  .card-body
    = render 'layouts/filter', search: @system_usage_search, path: system_usages_path

    .table-responsive
      %table.table.table-striped.table-bordered
        %tr
          %th Item
          %th Current Count
          - @system_usage_search.date_column_ranges.each do |item|
            %th= item[:label]
          %th Total
          %th Trend
        - data = []
        - @system_usage_search.usage_items.each_with_index do |_item, item_index|
          %tr
            %td= @system_usage_search.usage_data[item_index].first[:name]
            %td= @system_usage_search.usage_data[item_index].first[:current_count]
            - @system_usage_search.date_column_ranges.each_with_index do |header, header_index|
              %td= @system_usage_search.usage_data[item_index][header_index][:value]
              - data << [header[:label], @system_usage_search.usage_data[item_index][header_index][:value]]
            %td= @system_usage_search.total item_index
            %td
              .d-grid.gap-2
                %button.btn.btn-sm.btn-success.btn-block{
                  type: 'button', data: { 'bs-toggle': 'collapse', 'bs-target': "#chart-#{item_index}" }
                }
                  Show
          %tbody.collapse{ id: "chart-#{item_index}" }
            %tr
              %td{ colspan: @system_usage_search.date_column_ranges.count + 4 }
                = line_chart(data)
