= simple_form_for(@security_role) do |f|
  = rad_form_errors f

  .form-inputs
    .row
      .col-lg-6= f.input :name
      - if RadConfig.external_users?
        .col-lg-2= f.input :external
      - unless RadConfig.disable_invite?
        .col-lg-2= f.input :allow_invite
      - unless RadConfig.disable_sign_up?
        .col-lg-2= f.input :allow_sign_up

    .row
      .col-lg-12
        %h3 Permissions

        %table.table.table-striped.table-bordered
          %tr
            %th Category
            %th Permissions
          - @permission_categories.each do |permission_category|
            %tr
              %td= permission_category.first
              %td
                - permission_category.last.each do |permission|
                  = f.input permission[:permission],
                            label: permission[:permission_name],
                            tooltip: permission[:tooltip]

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
