%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th # of Users
    - if RadConfig.external_users?
      %th External
    - unless RadConfig.disable_invite?
      %th Allow Invite
    - unless RadConfig.disable_sign_up?
      %th Allow Sign Up
    - if RadConfig.twilio_verify_enabled?
      %th Two Factor Auth
    - if show_actions
      %th.actions Actions

  - security_roles.each do |record|
    %tr{ class: table_row_style(record) }
      %td= secured_link record
      %td
        %p= pluralize record.users.active.count, 'Active User'
        %p= pluralize record.users.inactive.count, 'Inactive User'
      - if RadConfig.external_users?
        %td= format_boolean record.external
      - unless RadConfig.disable_invite?
        %td= format_boolean record.allow_invite
      - unless RadConfig.disable_sign_up?
        %td= format_boolean record.allow_sign_up
      - if RadConfig.twilio_verify_enabled?
        %td= format_boolean record.two_factor_auth?
      - if show_actions
        %td
          - if policy(record).update?
            = link_to icon(:pencil, 'Edit'),
                      edit_security_role_path(record),
                      class: 'btn btn-sm btn-secondary btn-block'

          - if policy(record).destroy?
            = link_to icon(:times, 'Delete'),
                      record,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm btn-block'
