%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th # of Users
    - if RadConfig.external_users?
      %th External
    - unless RadConfig.disable_invite?
      %th Allow Invite
    - unless RadConfig.disable_sign_up?
      %th Allow Sign Up
    - if show_actions
      %th.actions Actions

  - security_roles.each do |security_role|
    %tr
      %td= secured_link security_role
      %td= security_role.users.size
      - if RadConfig.external_users?
        %td= format_boolean security_role.external
      - unless RadConfig.disable_invite?
        %td= format_boolean security_role.allow_invite
      - unless RadConfig.disable_sign_up?
        %td= format_boolean security_role.allow_sign_up
      - if show_actions
        %td
          - if policy(security_role).update?
            = link_to icon(:pencil, 'Edit'),
                      edit_security_role_path(security_role),
                      class: 'btn btn-sm btn-secondary btn-block'

          - if policy(security_role).destroy?
            = link_to icon(:times, 'Delete'),
                      security_role,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm btn-block'
