.card
  = render 'layouts/card_header'
  .card-body
    - if RadicalConfig.external_users?
      = render 'layouts/show_data_columns', data: [:external], resource: @security_role
    .row
      .col-lg-6
        %h3 Permissions

        %table.table.table-striped.table-bordered
          %tr
            %th Category
            %th Permissions
          - @permission_categories.each do |permission_category|
            %tr
              %td= permission_category.first
              %td
                - permission_category.last.each do |permission|
                  .row.col-lg-12
                    = link_to permission[:permission_name], permission_security_roles_path(permission_name: permission[:permission])
                    = permission_tooltip_content(permission[:permission])
                    %div{ class: permission[:value] ? 'fa fa-check green-check' : 'fa fa-times red-x' }

      .col-lg-6
        - users = @security_role.users.active.by_name
        %h3 Users in Role (#{users.count})
        %table.table.table-striped.table-bordered
          %tr
            %th Name
            %th Last Active

          - users.each do |user|
            %tr
              %td= secured_link(user)
              %td= format_date(user.last_activity_at)
