.card
  = render 'layouts/card_header'
  .card-body
    - if RadConfig.external_users?
      = render 'layouts/show_data_columns', data: security_role_show_data, resource: @security_role

.row
  .col-lg-6
    = render 'security_roles/permissions', permission_categories: @permission_categories

  .col-lg-6
    .card
      - users = @security_role.users.sorted

      = render 'layouts/card_header',
               action_name: 'custom',
               title: "Active Users (#{users.active.size})",
               icon: 'fa-list',
               additional_actions: [show_hide_users_button(users)]

      .card-body
        %table.table.table-striped.table-bordered
          %tr
            %th Name
            %th Signed In

          - users.each do |user|
            %tr{ class: user_row_class(user, true), id: user_row_id(user, true) }
              %td= secured_link(user)
              %td= format_date(user.current_sign_in_at)
