.card
  = render 'layouts/card_header'
  .card-body
    - if RadConfig.external_users?
      = render 'layouts/show_data_columns', data: security_role_show_data, resource: @security_role

.row
  .col-lg-6
    = render 'security_roles/permissions', permission_categories: @permission_categories

  .col-lg-6
    .card
      - users = @security_role.users.active.by_name
      = render 'layouts/card_header', action_name: 'custom', title: "Users in Role (#{users.count})", icon: 'fa-list'
      .card-body
        %table.table.table-striped.table-bordered
          %tr
            %th Name
            %th Signed In

          - users.each do |user|
            %tr
              %td= secured_link(user)
              %td= format_date(user.current_sign_in_at)
