.card.card-default
  = render 'layouts/card_header'
  .card-body
    .row
      .col-lg-6
        %h3 Permissions
        %table.table.table-striped.table-bordered
          %tr
            %th Name
            %th Allowed

          - normalize_names(humanized_permission_fields).each do |name, permission|
            %tr
              %td
                = link_to name, permission_security_roles_path(permission_name: permission)
                = permission_tooltip_content(permission)
              %td{class: @security_role.send(permission) ? 'fa fa-check green-check' : 'fa fa-times red-x'}
      .col-lg-6
        -users = @security_role.users.active.by_name
        %h3 Users in Role (#{users.count})
        %table.table.table-striped.table-bordered
          %tr
            %th Name

          -users.each do |user|
            %tr
              %td= secured_link(user)
