= simple_form_for(@client) do |f|
  = rad_form_errors f

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :active
    = f.input :valid_user_domains, as: :array,
                                       input_html: { type: :string },
                                       label: 'Valid User Email Domains',
                                       placeholder: 'Enter a domain, for example: abc.com',
                                       tooltip: t('tooltip.valid_user_domains')

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
