- show_actions = show_actions?(Client)

.card
  = render 'layouts/card_header'
  .card-body
    = paginate @clients, theme: 'bootstrap-5'

    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Active
        - if show_actions
          %th.actions Actions

      - @clients.each do |record|
        %tr{ class: table_row_style(record) }
          %td= secured_link record
          %td= format_boolean record.active?
          - if show_actions
            %td.d-grid.gap-2
              - if policy(record).update?
                = link_to icon(:pencil, 'Edit'),
                          edit_client_path(record),
                          class: 'btn btn-sm btn-secondary'
              - if policy(record).destroy?
                = link_to icon(:times, 'Delete'),
                          record,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger btn-sm'

    = paginate @clients, theme: 'bootstrap-5'
