.flex-grow-1.chat-scroll-panel#scroll-container
  .chat-container.mt-3
    %ul.chat-box.chatContainerScroll{ id: dom_id(llm_chat, 'chat') }
      = render 'llm_chats/chat_messages', llm_chat: llm_chat
      - if llm_chat.processing? && llm_chat.current_message.present?
        = render 'llm_chats/chat_message_left', llm_chat_log_data(llm_chat, llm_chat.log.last)

        - response_id = "#{llm_chat.id}-#{Time.current.to_i}"
        = turbo_frame_tag "chat-response-#{response_id}",
                          data: { controller: 'chat-polling',
                                  chat_polling_url_value: check_response_llm_chat_path(llm_chat,
                                                                                       response_id: response_id) } do
          = render 'llm_chats/loading_message', llm_chat: llm_chat

.border-top.pt-3.pb-4.px-4.bg-white
  = turbo_frame_tag 'chat-form' do
    = simple_form_for llm_chat, url: llm_chat_path(llm_chat),
                                html: { data: { controller: 'llm-chat-form',
                                                'llm-chat-form-target': 'form' } } do |f|
      .card
        - if llm_chat.context_object?
          .card-header
            .row
              .col-2
                %strong Questions For :
              .col-10= render 'llm_chats/context_picker_input', f: f, llm_chat: llm_chat
        .card-body
          .row
            .col-12
              .d-flex.flex-row
                .input-group
                  = render 'llm_chats/common_questions_dropdown', llm_chat: llm_chat
                  %input.form-control.ays-ignore{ name: 'llm_chat[current_message]',
                                                  placeholder: 'Ask a question...',
                                                  type: 'text',
                                                  id: 'llm_chat_current_message',
                                                  data: { 'llm-chat-form-target': 'currentMessage' } }
                  = f.button :button, type: :submit, class: 'btn btn-secondary', id: 'chat-submit-btn' do
                    = icon('paper-plane')
                  = f.button :button, type: :button, class: 'btn btn-secondary dropdown-toggle no-caret',
                                      'data-bs-toggle': 'dropdown' do
                    = '...'
                  %ul.dropdown-menu
                    %li
                      = f.button :button, name: 'reset_chat', value: 'reset' do
                        = icon('comment-slash', 'Clear Chat?')
