%p= "There #{@problems.count == 1 ? 'is' : 'are'} #{pluralize(@problems.count, 'invalid record')}."
- @problems.each do |record, error_messages|
  - if record.persisted?
    %p
      - item_label = "#{record.class.to_s.titleize} #{record.id} (#{record}):"

      - if ApplicationController.helpers.show_route_exists_for?(record)
        = link_to item_label, url_for(record)
      - else
        = item_label
      = error_messages
