%p= "There #{@problems.count == 1 ? 'is' : 'are'} #{pluralize(@problems.count, 'invalid record')}."
- @problems.each do |record, error_messages|
  - if record.persisted?
    %p
      = link_to record_name(record), url_for(record)
      = error_messages
