= render 'users/devise_layout' do
  %h4.ml-3= icon('sign-in-alt', 'Sign In')
  .card-body
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        .input-group.mb-3
          .input-group-prepend
            %span.input-group-text.bg-transparent.border-none= icon('envelope')
          = f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: email_input_defaults(params),
                    wrapper: false,
                    label: false
        .input-group.mb-3
          .input-group-prepend
            %span.input-group-text.bg-transparent.border-none= icon('lock')
          = f.input :password, required: true, input_html: password_input_defaults(params), wrapper: false, label: false
        = f.input :remember_me, as: :boolean, input_html: remember_me_input_defaults if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, 'Sign In', class: 'btn btn-primary btn-block'
    = render 'users/shared/links'
