%table.table.table-bordered
  %tr
    - if sort_columns
      = render 'layouts/sort_headers', search: @contact_log_search
    - else
      %th When
      %th Service Type
      %th Log Type
      %th From
      %th To
      %th Record
      %th Content
      %th Notified on Failure?
      %th Success?

  - contact_logs.each do |record|
    - card_style = record.table_row_style
    - recipients = record.contact_log_recipients

    %tr{ class: card_style }
      %td
        - if policy(record).show?
          = link_to format_datetime(record.created_at), record
        - else
          = format_datetime record.created_at
      %td= enum_to_translated_option record, :service_type
      %td= enum_to_translated_option record, :direction
      %td
        - if record.from_user.present?
          %p= secured_link record.from_user
        %p= record.from_number
        %p= record.from_email
      %td
        - if recipients.exists?
          - recipients.each do |recipient|
            - if recipient.to_user.present?
              %p= secured_link recipient.to_user
            %p= recipient.phone_number
            %p= recipient.email
        - else
          %i.fa.fa-triangle-exclamation
          No Recipients
      %td
        - if record.record.present?
          %p= record.record_type.titleize
          %p
            - if show_route_exists?(record.record)
              = secured_link record.record
            - else
              = record
      %td= record.content
      %td
        - if card_style.present?
          - recipients.each do |recipient|
            %p= format_boolean recipient.notified_on_failure?
      %td
        - if card_style == 'table-warning'
          mixed
        - elsif card_style == 'table-danger'
          = format_boolean false
        - else
          = format_boolean true
