.card
  = render 'layouts/card_header'
  .card-body
    = render 'layouts/filter', search: @contact_log_search, path: contact_logs_path
    = paginate @contact_logs, theme: 'twitter-bootstrap-4'

    %table.table.table-bordered
      %tr
        = render 'layouts/sort_headers', search: @contact_log_search

      - @contact_logs.each do |record|
        - card_style = record.table_row_style

        %tr{ class: card_style }
          %td= link_to format_datetime(record.created_at), record
          %td= enum_to_translated_option record, :service_type
          %td= enum_to_translated_option record, :sms_log_type
          %td
            - if record.from_user.present?
              %p= secured_link record.from_user
            %p= record.from_number
            %p= record.from_email
          %td
            - record.contact_log_recipients.each do |recipient|
              - if recipient.to_user.present?
                %p= secured_link recipient.to_user
              %p= recipient.phone_number
              %p= recipient.email
          %td= secured_link record.record
          %td= record.content
          %td= format_boolean record.sms_opt_out_message_sent
          %td
            - if card_style == 'table-warning'
              mixed
            - elsif card_style == 'table-danger'
              = format_boolean false
            - else
              = format_boolean true

    = paginate @contact_logs, theme: 'twitter-bootstrap-4'
