.card.card-default
  = render "layouts/panel_header", action_name: "custom", title: "Sign Up", icon: "fa-file"
  .card-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      = f.error :base
      .form-inputs
        .row
          .col-lg-4
            = f.input :email, required: true, autofocus: true
          .col-lg-4
            = f.input :first_name, required: true
          .col-lg-4
            = f.input :last_name, required: true
        .row
          .col-lg-4
          .col-lg-4
            = f.input :password, required: true
          .col-lg-4
            = f.input :password_confirmation, required: true
      .form-actions
        = f.button :submit, "Sign Up", class: "btn btn-primary"
    = render "devise/shared/links"
