- filter_id = "filter-#{Time.now.to_i}-#{rand(1000)}"

.card.mb-3.filter-row.sortable-item{ id: filter_id, draggable: 'true',
                                     data: { report_builder_target: 'filterRow', action: draggable_actions } }
  .card-body.py-3
    .row.align-items-center.g-3
      .col-md-1
        %i.fa.fa-grip-vertical.text-muted.fs-5.cursor-grab
      .col-md-3
        %div
          %small.text-muted.d-block.mb-1 Column
          %span.fw-medium= filter[:column]

      .col-md-3
        %div
          %small.text-muted.d-block.mb-1 Label
          %span.fw-medium= filter[:label]

      .col-md-4
        %div
          %small.text-muted.d-block.mb-1 Filter Type
          %span.badge.bg-light.text-dark.border= filter[:type]&.split('::')&.last || 'Unknown'

      .col-md-1.text-end
        %button.btn.btn-sm.btn-outline-danger.rounded-circle{ type: 'button',
                                                              data: { action: 'click->report-builder#removeFilter' },
                                                              title: 'Remove filter' }
          %i.fa.fa-times

    %input{ type: 'hidden', name: 'custom_report[filters][][column]', value: filter[:column] }
    %input{ type: 'hidden', name: 'custom_report[filters][][label]', value: filter[:label] }
    %input{ type: 'hidden', name: 'custom_report[filters][][type]', value: filter[:type] }
    %input{ type: 'hidden', name: 'custom_report[filters][][default_value]', value: filter[:default_value] }
    %input{ type: 'hidden', name: 'custom_report[filters][][multiple]', value: filter[:multiple] }
