= simple_form_for(@attorney) do |f|
  = rad_form_errors f

  .form-inputs
    .row
      .col-lg-3
        = f.input :first_name
      .col-lg-3
        = f.input :middle_name
      .col-lg-3
        = f.input :last_name
      .col-lg-3
        = f.input :company_name
    .row
      .col-lg-6
        = f.input :address_1
      .col-lg-6
        = f.input :address_2
    .row
      .col-lg-6
        = f.input :city
      .col-lg-3
        = f.input :state, collection: StateOptions.options
      .col-lg-3
        = f.input :zipcode
    .row
      .col-lg-3
        = f.input :email
      .col-lg-3
        = f.input :phone_number
    .row
      .col-lg-3
        = f.input :active

  .form-actions
    = render 'layouts/duplicate_check', record: @attorney
    = f.button :submit, 'Save', class: 'btn btn-primary'
