- show_actions = show_actions?(Attorney)

.card
  = render 'layouts/card_header'
  .card-body
    = paginate @attorneys, theme: 'twitter-bootstrap-4'

    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Company name
        %th City
        %th State
        %th Phone number
        %th Email
        - if show_actions
          %th.actions Actions

      - @attorneys.each do |attorney|
        %tr
          %td= secured_link attorney
          %td= attorney.company_name
          %td= attorney.city
          %td= attorney.state
          %td= attorney.phone_number
          %td= attorney.email
          - if show_actions
            %td
              - if policy(attorney).update?
                = link_to icon(:pencil, 'Edit'),
                          edit_attorney_path(attorney),
                          class: 'btn btn-sm btn-secondary btn-block'
              - if policy(attorney).destroy?
                = link_to icon(:times, 'Delete'),
                          attorney,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger btn-sm btn-block'

    = paginate @attorneys, theme: 'twitter-bootstrap-4'
