- show_actions = show_actions?(Attorney)

.card
  = render 'layouts/card_header'
  .card-body
    = paginate @attorneys, theme: 'bootstrap-5'

    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Company name
        %th City
        %th State
        %th Phone number
        %th Email
        %th Active
        - if show_actions
          %th.actions Actions

      - @attorneys.each do |record|
        %tr{ class: table_row_style(record) }
          %td= secured_link record
          %td= record.company_name
          %td= record.city
          %td= record.state
          %td= record.phone_number
          %td= record.email
          %td= format_boolean record.active?
          - if show_actions
            %td.d-grid.gap-2
              - if policy(record).update?
                = link_to icon(:pencil, 'Edit'),
                          edit_attorney_path(record),
                          class: 'btn btn-sm btn-secondary'
              - if policy(record).destroy?
                = link_to icon(:times, 'Delete'),
                          record,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger btn-sm'

    = paginate @attorneys, theme: 'bootstrap-5'
