.card
  = render 'layouts/card_header'
  .card-body
    = paginate @direct_messages, theme: 'bootstrap-5'

    %table.table.table-striped.table-bordered
      %tr
        %th From
        %th To
        %th Messages
        %th Last Updated
        %th.actions Actions

      - @direct_messages.each do |record|
        %tr
          %td= record.from_user
          %td= record.to_user
          %td= record.log&.size || 0
          %td= format_datetime(record.updated_at)
          %td
            = link_to icon(:comment, 'Open Chat'), direct_message_path(record), class: 'btn btn-sm btn-primary'

    = paginate @direct_messages, theme: 'bootstrap-5'
