= turbo_stream_from "direct_message_#{@direct_message.id}_user_#{current_user.id}"

.card
  .card-header
    .d-flex.justify-content-between.align-items-center
      %h5.mb-0= "Chat with #{@direct_message.other_user(current_user)}"
      = link_to 'Back', direct_messages_path, class: 'btn btn-sm btn-secondary'
  .card-body.bg-secondary.bg-opacity-25.p-0.d-flex.flex-column{ style: 'min-height: 500px' }
    = render 'chat/panel', chat_panel: direct_message_chat_panel(@direct_message)
