.email.row
  .email-col-12
    .email-info-box
      %table.info-table
        %tr
          - @events.first.each_key do |item|
            %th= item == :email ? 'recipient' : item
        - @events.each do |event|
          - user = User.find_by(email: event[:email])
          %tr
            - event.each_key do |item|
              %td
                - if item == :email
                  - if user.present?
                    = link_to "#{user} (#{user.email})", user_url(user)
                  - else
                    = event[item]
                - else
                  = event[item]
