.card
  = render 'layouts/card_header', title: "Notifications (#{current_user.notifications.unread.count} unread)"
  .card-body

    -# see kaminari monkey patch on initializers/rad_common.rb
    = paginate @notifications, theme: 'twitter-bootstrap-4', routes_proxy: rad_common_engine

    %table.table.table-striped.table-bordered
      %tr
        %th When
        %th Type
        %th Content
        %th Unread
      - @notifications.each do |notification|
        %tr
          %td
            %p= format_datetime(notification.created_at)
            %p= "#{distance_of_time_in_words_to_now(notification.created_at)} ago"
          %td= notification.notification_type
          %td
            = notification.content
            - if notification.record.present?
              %p= secured_link(notification.record)
          %td{ class: notification.unread ? 'text-danger' : '' }
            = format_boolean(notification.unread)

    -# see kaminari monkey patch on initializers/rad_common.rb
    = paginate @notifications, theme: 'twitter-bootstrap-4', routes_proxy: rad_common_engine

- current_user.read_notifications!
