.card
  = render 'layouts/card_header',
           title: "Notifications (#{current_user.notifications.unread.count} unread)",
           icon: 'fa-bell'
  .card-body

    = paginate @notifications, theme: 'twitter-bootstrap-4'

    %table.table.table-striped.table-bordered
      %tr
        %th When
        %th Content
        %th Subject
      - @notifications.each do |record|
        %tr{ class: table_row_style(record, style_class: 'text-danger') }
          %td
            %p= format_datetime(record.created_at)
            %p #{distance_of_time_in_words_to_now(record.created_at)} ago
          %td= sanitize record.content
          %td
            - if record.record.present?
              %p= secured_link(record.record)

    = paginate @notifications, theme: 'twitter-bootstrap-4'

- current_user.read_notifications!
