.flex-grow-1.chat-scroll-panel#scroll-container
  .chat-container.mt-3
    %ul.chat-box.chatContainerScroll{ id: dom_id(chattable, 'chat') }
      = render 'rad_chat/chat_messages', chattable: chattable
      - if chattable.chat_processing? && chattable.current_message.present?
        = render 'rad_chat/chat_message_left',
                 rad_chat_log_data(chattable, chattable.chat_messages_log.last)
        = turbo_stream_from chattable
        %li.chat-right.justify-content-end.mb-3.d-flex.w-100#loading-message
          = render 'rad_chat/loading_message', chattable: chattable

.border-top.pt-3.pb-4.px-4.bg-white
  = turbo_frame_tag 'chat-form' do
    = simple_form_for chattable,
                      url: rad_chat_message_path(chattable_type: chattable.class.name, chattable_id: chattable.id),
                      method: :patch,
                      html: { data: { controller: 'llm-chat-form', 'llm-chat-form-target': 'form' } } do |f|
      .card
        - if chattable.chat_context_object?
          .card-header
            .row
              .col-2
                %strong Questions For :
              .col-10= render 'rad_chat/context_picker_input', f: f, chattable: chattable
        .card-body
          .row
            .col-12
              .d-flex.flex-row
                .input-group
                  = render 'rad_chat/common_questions_dropdown', chattable: chattable, f: f
                  %input.form-control.ays-ignore{ name: 'current_message',
                                                  placeholder: 'Ask a question...',
                                                  type: 'text',
                                                  id: 'chat_current_message',
                                                  data: { 'llm-chat-form-target': 'currentMessage' } }
                  = f.button :button, type: :submit, class: 'btn btn-secondary', id: 'chat-submit-btn' do
                    = icon('paper-plane')
                  = f.button :button, type: :button, class: 'btn btn-secondary dropdown-toggle no-caret',
                                      'data-bs-toggle': 'dropdown' do
                    = '...'
                  %ul.dropdown-menu
                    %li
                      = f.button :button, name: 'reset_chat', value: 'reset' do
                        = icon('comment-slash', 'Clear Chat?')
