- if model.use_first_last_name?
  %td{ class: duplicate_class(record.last_name, record.last_name) }
    = link_to record.last_name, record
  %td{ class: duplicate_class(record.first_name, record.first_name) }
    = link_to record.first_name, record
  - if model.use_birth_date?
    %td{ class: duplicate_class(record.birth_date, record.birth_date) }
      = format_date(record.birth_date)
  - if model.use_address?
    %td{ class: duplicate_class(record.address_1, record.address_1) }
      = record.address_1
    %td{ class: duplicate_class(record.address_2, record.address_2) }
      = record.address_2
    %td{ class: duplicate_class(record.city, record.city) }
      = record.city
    %td{ class: duplicate_class(record.state, record.state) }
      = record.state
    %td{ class: duplicate_class(record.zipcode, record.zipcode) }
      = record.zipcode
  - model.applicable_duplicate_items.each do |item|
    %td{ class: duplicate_class(record.send(item[:name]), record.send(item[:name])) }
      = show_duplicate_item item, record
