- if RadConfig.user_clients? && @user.external?
  - if @user_clients.count.zero?
    .alert.alert-danger Add at least one client to this user to give them access to their data
  .card
    = render 'layouts/card_header',
             action_name: 'custom',
             title: "#{RadCommon::AppInfo.new.client_model_label}s (#{@user_clients.count})",
             icon: 'fa-address-book',
             additional_actions: user_client_actions(@user)

    .card-body
      %table.table.table-striped.table-bordered
        %tr
          %th Name
          - if policy(UserClient.new(user: @user)).destroy?
            %th.actions Actions
        - @user_clients.each do |record|
          %tr
            %td= secured_link record.client
            - if policy(record).destroy?
              %td.d-grid.gap-2
                - if policy(record).destroy?
                  = link_to icon(:times, 'Remove from User'),
                            record,
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn btn-danger btn-sm'
