= simple_form_for(@user) do |f|
  = f.error_notification
  = base_errors(f)
  .form-inputs
    .row
      .col-lg-6= f.input :first_name
      .col-lg-6= f.input :last_name
    .row
      .col-lg-6= f.input :mobile_phone
      .col-lg-6= f.input :email, disabled: !@user.new_record?
    .row
      .col-lg-6= f.association :user_status, collection: UserStatus.by_id
      .col-lg-6= f.input :timezone, as: :time_zone, priority: timezone_us_filter
    .row
      - if RadConfig.external_users?
        .col-lg-3= f.input :external
    .row
      -# https://stackoverflow.com/questions/15738259/disabling-chrome-autofill
      .col-lg-6= f.input :password, autocomplete: 'off', input_html: { autocomplete: 'new-password' }

      .col-lg-6= f.input :password_confirmation
    - if RadConfig.avatar?
      .row
        .col-lg-3= f.input :avatar

    - if policy(@user).update_security_roles?
      .row.internal
        .col-lg-12
          = f.input :security_roles, as: :check_boxes,
                                     item_wrapper_class: 'col-lg-3 security-role-checkboxes',
                                     collection: security_role_collection(:internal),
                                     checked: @user.security_roles.ids

    - if RadConfig.external_users? && security_role_collection(:external).any?
      .row.external
        .col-lg-12
          = f.input :security_roles, as: :check_boxes,
                                     item_wrapper_class: 'col-lg-3 security-role-checkboxes',
                                     collection: security_role_collection(:external),
                                     checked: @user.security_roles.ids

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
