:ruby
  show_roles = true if local_assigns[:show_roles].nil?
  show_actions = true if local_assigns[:show_actions].nil?
  show_actions &&= show_actions?(User)
  sort_columns = false if local_assigns[:sort_columns].nil?
  page_param_name = :page if local_assigns[:page_param_name].nil?

.row
  .col-lg-12
    - if users.respond_to?(:current_page)
      = paginate users, param_name: page_param_name, theme: 'twitter-bootstrap-4'

    %table.table.table-bordered
      %tr
        - if sort_columns
          = render 'layouts/sort_headers', search: @user_search
        - else
          %th Name
          %th Email
          %th Mobile Phone
          - if show_actions
            %th Signed In
            %th Created
          %th Status
          - if show_roles && show_actions
            %th Roles
          - if RadConfig.external_users?
            %th #{RadCommon::AppInfo.new.client_model_label}s
        - if show_actions
          %th.text-center Actions

      - users.each do |user|
        - can_show = policy(user).show?

        %tr{ class: user.display_style }
          %td= secured_link(user)
          %td
            - if can_show
              = link_to user.email, user
            - else
              = user.email
          %td
            - if user.mobile_phone.present?
              - if can_show
                = link_to user.mobile_phone, user
              - else
                = user.mobile_phone
          - if show_actions
            %td= format_datetime(user.current_sign_in_at)
            %td= format_date(user.created_at)
          %td= user.user_status
          - if show_roles && show_actions
            %td
              - user.security_roles.each do |security_role|
                = secured_link(security_role)
                %p
          - if RadConfig.external_users?
            %td
              - if RadConfig.user_clients?
                - user.clients.sorted.each do |client|
                  %p= secured_link client
              - else
                = format_boolean(user.external?)
          - if show_actions
            %td
              - user_index_actions(user).each do |action|
                = action

    - if users.respond_to?(:current_page)
      = paginate users, param_name: page_param_name, theme: 'twitter-bootstrap-4'
