.row
  .col-md-12
    -if users.respond_to?(:current_page)
      = paginate users

    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Email
        %th Created
        %th Status
        -if current_member.can_update?(User) || current_member.can_delete?(User)
          %th.text-center Actions

      - users.each do |user|
        %tr
          %td= secured_link(user)
          %td= link_to user.email, "mailto:#{user.email}"
          %td= format_date(user.created_at)
          %td= user.user_status
          -if current_member.can_update?(User) || current_member.can_delete?(User)
            %td
              -if current_member.can_update?(user)
                = link_to content_tag(:i, '', class: 'fa fa-pencil right-5x') + ' Edit', edit_user_path(user), class: 'btn btn-default btn-xs btn-block btn-block'
              -if current_member.can_delete?(user)
                = link_to content_tag(:i, '', class: 'fa fa-times right-5x') + ' Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs btn-block btn-block"

    -if users.respond_to?(:current_page)
      = paginate users
