-if @user.internal? && current_user.can_read?(SecurityRole)
  -all_perms = @user.all_permissions
  .row
    .col-md-6
      .panel.panel-default
        = render 'layouts/panel_header', action_name: 'custom', title: 'Security Roles', icon: 'fa-list'
        .panel-body
          = render 'security_roles/index', security_roles: @user.security_roles, show_actions: false
    .col-md-6
      .panel.panel-default
        = render 'layouts/panel_header', action_name: 'custom', title: 'Permissions', icon: 'fa-list'
        .panel-body
          %table.table.table-striped.table-bordered
            %tr
              %th Name
              %th Allowed

            - normalize_names(humanized_permission_fields).each do |name, permission|
              %tr
                %td
                  = link_to name, permission_security_roles_path(permission_name: permission)
                  = permission_tooltip_content(permission)
                %td{class: all_perms.include?(permission) ? 'fa fa-check green-check' : 'fa fa-times red-x'}
