.row
  :ruby
    settings = NotificationSetting.settings_for_user(@user)
    show_notifications = settings.count.positive?
    column_class = show_notifications ? 'col-lg-4' : 'col-lg-6'

  - if policy(SecurityRole).index?
    %div{ class: column_class }
      .card
        = render 'layouts/card_header', action_name: 'custom', title: 'Security Roles', icon: 'fa-list'
        .card-body
          = render 'security_roles/index', security_roles: @user.security_roles.by_name, show_actions: false

    %div{ class: column_class }
      = render 'security_roles/permissions', permission_categories: @permission_categories

  - if show_notifications
    %div{ class: column_class }
      .card
        = render 'layouts/card_header', action_name: 'custom', title: 'Notification Settings', icon: 'fa-list'
        = render 'notification_settings/index', settings: settings
