.panel.panel-default
  = render 'layouts/panel_header', no_new_button: true
  .panel-body
    = simple_form_for(@user) do |f|
      = f.error_notification
      = f.error :base
      .form-inputs
        .row
          .col-md-6= f.input :first_name
          .col-md-6= f.input :last_name
        .row
          .col-md-6= f.input :mobile_phone
          .col-md-6= f.input :email, disabled: true
        .row
          .col-md-6= f.association :user_status, collection: UserStatus.by_id
          -if @user.respond_to?(:last_activity_at)
            .col-md-2= f.input :last_activity_at, as: :date, html5: true
          -if @user.internal?
            .col-md-2= f.input :super_admin
          -if Rails.application.config.external_users
            .col-md-2= f.input :external
        .row
          -# https://stackoverflow.com/questions/15738259/disabling-chrome-autofill
          .col-md-6= f.input :password, autocomplete: 'off', input_html: { autocomplete: 'new-password' }

          .col-md-6= f.input :password_confirmation
        -if @user.internal?
          .row
            .col-md-12
              %label Security Roles
              = f.input :security_roles, as: :check_boxes, item_wrapper_class: 'col-md-3 security-role-checkboxes', collection: security_role_collection, checked: @user.security_roles.ids, label: false

      .form-actions
        = f.button :submit, 'Save', class: 'btn btn-primary'
