.card
  = render 'layouts/card_header', action_name: 'custom', title: "Pending Users (#{@pending.count})", icon: 'fa-list', additional_external_actions: users_actions
  .card-body
    = render 'users/index', users: @pending

.card
  = render 'layouts/card_header', no_new_button: true
  .card-body
    .row.button-row
      .col-lg-12
        .btn-group
          %a{class: "btn dropdown-toggle #{@status.nil? ? 'btn-warning' : @status.button_style}", 'data-toggle' => 'dropdown', href: '#'}
            = @status.nil? ? 'All Users' : @status.name + ' Users'
          %ul.dropdown-menu
            -@user_statuses.each do |status|
              %li= link_to status.name, users_path(status: status.id), class: 'dropdown-item'
            %li= link_to 'All Users', users_path(status: 'All'), class: 'dropdown-item'
    = render 'users/index', users: @users
