.card
  = render 'layouts/card_header', action_name: 'custom', title: "Pending Users (#{@pending.count})", icon: 'fa-list', additional_external_actions: users_actions
  .card-body
    = render 'users/index', users: @pending, page_param_name: :pending_page

.card
  = render 'layouts/card_header', no_new_button: true, additional_actions: [link_to('Export to File', users_path(@params.merge({ format: :csv })), class: 'btn btn-sm btn-secondary')]
  .card-body
    .row.button-row
      .col-lg-12
        .btn-group
          %a{class: "btn dropdown-toggle #{@status.nil? ? 'btn-warning' : @status.button_style}", 'data-toggle' => 'dropdown', href: '#'}
            = @status.nil? ? 'All Users' : @status.name + ' Users'
          %ul.dropdown-menu
            -@user_statuses.each do |status|
              %li= link_to status.name, users_path(status: status.id, external: params[:external]), class: 'dropdown-item'
            %li= link_to 'All Users', users_path(status: 'All', external: params[:external]), class: 'dropdown-item'
        -if Rails.application.config.external_users
          .btn-group
            %a{class: "btn dropdown-toggle #{params[:external].present? ? 'btn-warning' : 'btn-success'}", 'data-toggle' => 'dropdown', href: '#'}
              - user_label = params[:external] == 'true' ? 'Client' : 'Internal'
              = params[:external].blank? ? 'All User Types' : user_label + ' Users'
            %ul.dropdown-menu
              %li= link_to 'All Users', users_path(status: params[:status]), class: 'dropdown-item'
              %li= link_to 'Internal Users', users_path(external: false, status: params[:status]), class: 'dropdown-item'
              %li= link_to 'Client Users', users_path(external: true, status: params[:status]), class: 'dropdown-item'
    = render 'users/index', users: @users
