.card
  = render 'layouts/card_header', title: 'Send System Message to Active Users',
                                  icon: 'fa-envelope',
                                  no_index_button: true,
                                  no_back_button: true

  .card-body
    = simple_form_for(@system_message) do |f|
      = rad_form_errors f

      .form-inputs
        .row
          .col-lg-3= f.input :message_type, collection: message_type_options, include_blank: false
          .col-lg-3
            = f.input :send_to, collection: message_send_to_options, include_blank: false
          .col-lg-3
            = f.association :security_role, collection: SecurityRole.sorted, label: 'Limit To Security Role (optional)'
          .col-lg-3
            = f.input :from_reply_to, disabled: true
        .row
          .col-lg-12.email-message
            = f.input :email_message_body, placeholder: 'Enter a message to be emailed to active users in the system.',
                                           label: 'Message',
                                           as: :rich_text_area

          .col-lg-12.sms-message
            %h6.text-danger Please note: only users with a mobile phone # on file will receive the message.
            - placeholder = 'Enter a message to be texted to all active users that have a mobile phone #.'
            = f.input :sms_message_body, placeholder: placeholder,
                                         label: 'Message',
                                         as: :text, input_html: { rows: 4 }

      .form-actions
        = f.button :submit, 'Send', class: 'btn btn-primary'
