.card.card-default
  = render 'layouts/card_header', action_name: 'custom', title: "Send System Message to All Active #{current_user.class.name}s", icon: 'fa-envelope'
  .card-body
    = simple_form_for(:message, url: "/rad_common/system_messages", method: :post) do |f|
      = f.error_notification

      .form-inputs
        = f.input :message, placeholder: "Enter a message to be emailed to all active #{current_user.class.name.downcase}s in the system."

      .form-actions
        = f.button :submit, 'Send', class: 'btn btn-primary'
