.card
  = render 'layouts/card_header'
  .card-body
    = render 'layouts/filter', search: @twilio_log_search, path: '/rad_common/twilio_logs'
    = paginate @twilio_logs, theme: 'twitter-bootstrap-4', routes_proxy: rad_common_engine

    %table.table.table-bordered
      %tr
        = render 'layouts/sort_headers', search: @twilio_log_search

      - @twilio_logs.each do |record|
        %tr{ class: table_row_style(record) }
          %td= enum_to_translated_option(record, :log_type)
          %td= format_datetime record.created_at
          %td= record.from_number
          %td= record.to_number
          %td= secured_link record.from_user
          %td= secured_link record.to_user
          %td
            = record.message
            - if record.media_url.present?
              = icon_tooltip('span', record.media_url, 'fa-image')
          %td= format_boolean record.opt_out_message_sent
          %td
            = record.status
            - if record.message_sid.present?
              = icon_tooltip('span', record.message_sid, 'fa-circle-info')

    = paginate @twilio_logs, theme: 'twitter-bootstrap-4', routes_proxy: rad_common_engine
