.card
  = render 'layouts/card_header'
  .card-body
    = render 'layouts/filter', search: @twilio_log_search, path: '/rad_common/twilio_logs'
    = paginate @twilio_logs, theme: 'twitter-bootstrap-4', routes_proxy: rad_common_engine

    %table.table.table-bordered
      %tr
        = render 'layouts/sort_headers', search: @twilio_log_search

      - @twilio_logs.each do |twilio_log|
        %tr{ class: twilio_log.success ? '' : 'alert-danger' }
          %td= enum_to_translated_option(twilio_log, :log_type)
          %td= format_datetime twilio_log.created_at
          %td= twilio_log.from_number
          %td= twilio_log.to_number
          %td= secured_link twilio_log.from_user
          %td= secured_link twilio_log.to_user
          %td
            = twilio_log.message
            - if twilio_log.media_url.present?
              = icon_tooltip('span', twilio_log.media_url, 'fa-image')
          %td= format_boolean twilio_log.opt_out_message_sent
          %td
            = twilio_log.status
            - if twilio_log.message_sid.present?
              = icon_tooltip('span', twilio_log.message_sid, 'fa-circle-info')

    = paginate @twilio_logs, theme: 'twitter-bootstrap-4', routes_proxy: rad_common_engine
