.navbar.navbar-default.navbar-static-top
  .container-fluid
    %button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-responsive-collapse')
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, { class: 'navbar-brand' } do
      = image_tag 'app_logo.png'
    .navbar-collapse.collapse.navbar-responsive-collapse
      - if user_signed_in?
        - read_division = current_user.can_read?(Division)

        %ul.nav.navbar-nav.navbar-left
          -if read_division
            %li= link_to 'Divisions', divisions_path
          -if current_user.admin? || read_division
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                Admin
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'Divisions', divisions_path
                = render 'layouts/navigation_admin'
          %li.global-search-nav
            = render "layouts/global_search"
      = render 'layouts/navigation_right'
