.navbar.navbar-default.navbar-static-top
  .container-fluid
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, { class: "navbar-brand" } do
      = image_tag "app_logo.png"
    .navbar-collapse.collapse.navbar-responsive-collapse
      - if user_signed_in? && current_user.admin
        %ul.nav.navbar-nav.navbar-left
          = nav_link_to "User Accounts", users_path
          = nav_link_to 'Security Groups', security_groups_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              = current_user
              %b.caret
            %ul.dropdown-menu
              %li= link_to "My Account", edit_user_registration_path
              %li= link_to "Logout", destroy_user_session_path, method: "delete"
        -else
          %li= link_to "Login", new_user_session_path
          %li= link_to "Sign Up", new_user_registration_path
