.navbar.navbar-expand-lg.navbar-light.bg-light#navbar
  .container-fluid
    = link_to root_path, { class: 'navbar-brand' } do
      = image_tag 'app_logo.png'
    %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#navbar-supported-content' } }
      %span.navbar-toggler-icon
    .navbar-collapse.collapse.navbar-responsive-collapse#navbar-supported-content
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-left
          - if policy(Division).index?
            %li= link_to 'Divisions', divisions_path(search: { show_header: 'true' }), class: 'nav-link'
          - if policy(Attorney).index?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{ 'data-toggle': 'dropdown', href: '#' }
                Attorneys
                = duplicates_badge Attorney
              %ul.dropdown-menu
                %li= link_to 'Attorneys', attorneys_path, class: 'dropdown-item'
                = duplicates_nav_item Attorney
          - if current_user.admin?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{ 'data-toggle': 'dropdown', href: '#' }
                Admin
              %ul.dropdown-menu
                %li= link_to 'Divisions', divisions_path, class: 'dropdown-item'
                = render 'layouts/navigation_admin'
          %li.global-search-nav
            = render 'layouts/global_search'
      = render 'layouts/navigation_right'
