.card
  = render 'layouts/card_header', title: "Sign In Activity (#{@login_activities.total_count})"
  .card-body
    = render 'layouts/filter', search: @login_activity_search, path: '/login_activities'
    = paginate @login_activities, theme: 'twitter-bootstrap-4'

    %table.table.table-bordered
      %tr
        = render 'layouts/sort_headers', search: @login_activity_search

      - @login_activities.each do |record|
        %tr{ class: table_row_style(record) }
          %td= format_datetime(record.created_at)
          %td= record.identity
          %td= format_boolean(record.success)
          %td= record.failure_reason
          %td= record.ip
          %td= record.user_agent
          %td= record.referrer

    = paginate @login_activities, theme: 'twitter-bootstrap-4'
