-can_create = current_user.can_create?(NotificationSetting)

.panel-body
  %table.table.table-striped.table-bordered
    %tr
      %th Notification
      %th Enabled

    - settings.each do |notification_setting|
      %tr
        %td= notification_setting.notification.description
        %td
          -if can_create && current_user.can_create?(notification_setting)
            = simple_form_for notification_setting, url: '/rad_common/notification_settings', method: :post do |f|
              = f.error_notification
              .form-inputs
                = f.input :enabled, input_html: { id: "notification_setting_enabled_#{notification_setting.notification.description.parameterize.underscore}" }
                = f.input :notification_type, as: :hidden
                = f.input :user_id, as: :hidden
              .form-actions
                = f.button :submit, 'Save', class: 'btn btn-xs btn-primary'
          -else
            = format_boolean(notification_setting.enabled)
