- setting_id_string = notification_setting.notification_type.description.parameterize.underscore
- collapse_id = "notification-options-#{setting_id_string}"

.row
  .col-lg-12
    = turbo_frame_tag "notification_setting_toggle_enabled_#{notification_setting.id}" do
      = simple_form_for notification_setting,
                        html: rad_turbo_form_options(local_assigns),
                        url: notification_settings_path, method: :post do |f|
        .row
          .col-lg
            = f.input :enabled,
                      tooltip: 'Turn this notification on or off.',
                      disabled: !can_update,
                      input_html: { class: 'ays-ignore',
                                    id: "notification_setting_enabled_#{setting_id_string}",
                                    data: { action: 'change->remote-form#submitForm',
                                            toggle: 'collapse', target: "##{collapse_id}" } }
        .row
          .col-lg-12{ id: collapse_id, class: notification_setting.enabled ? 'collapse show' : 'collapse' }
            .form-inline.px-3.py-2.bg-light.border.rounded.shadow-sm#notification-settings
              = f.input :email,
                        tooltip: 'Enable email notifications.',
                        input_html: { class: 'ays-ignore',
                                      id: "notification_setting_email_#{setting_id_string}",
                                      data: { action: 'change->remote-form#submitForm' } },
                        disabled: !notification_setting.notification_type.email_enabled? || !can_update

              - if RadConfig.twilio_enabled?
                = f.input :sms,
                          tooltip: 'Enable SMS (text message) notifications.',
                          input_html: { class: 'ays-ignore',
                                        id: "notification_setting_sms_#{setting_id_string}",
                                        data: { action: 'change->remote-form#submitForm' } },
                          disabled: !notification_setting.notification_type.sms_enabled? || !can_update

              = f.input :feed,
                        tooltip: 'Show a red badge on the top right navigation when a notification occurs.',
                        input_html: { class: 'ays-ignore',
                                      id: "notification_setting_feed_#{setting_id_string}",
                                      data: { action: 'change->remote-form#submitForm' } },
                        disabled: !notification_setting.notification_type.feed_enabled? || !can_update

        = f.association :notification_type, as: :hidden
        = f.input :user_id, as: :hidden
