- show_actions = show_actions?(<%= class_name %>)

.card
  = render 'layouts/card_header'
  .card-body
    = render 'layouts/filter', search: @<%= singular_table_name %>_search, path: <%= plural_table_name %>_path
    = paginate @<%= plural_table_name %>, theme: 'bootstrap-5'

    %table.table.table-striped.table-bordered
      %tr
        = render 'layouts/sort_headers', search: @<%= singular_table_name %>_search
        %th Name
    <% for attribute in attributes -%>
    %th <%= attribute.human_name %>
    <% end -%>
    - if show_actions
          %th.actions Actions

      - @<%= plural_table_name %>.each do |record|
        %tr{ class: table_row_style(record) }
          %td= secured_link record
    <% for attribute in attributes -%>
      %td= record.<%= attribute.name %>
    <% end -%>
      - if show_actions
            %td
              .d-grid.gap-2
                - if policy(record).edit?
                  = link_to icon(:pencil, 'Edit'),
                            edit_<%= singular_table_name %>_path(record),
                            class: 'btn btn-sm btn-secondary'
                - if policy(record).destroy?
                  = link_to icon(:times, 'Delete'),
                            record,
                            method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn btn-danger btn-sm'

    = paginate @<%= plural_table_name %>, theme: 'bootstrap-5'
