-show_actions = current_user.can_update?(<%= class_name %>) || current_user.can_delete?(<%= class_name %>)

.panel.panel-default
  = render 'layouts/panel_header'
  .panel-body
    = paginate @<%= plural_table_name %>, theme: 'twitter-bootstrap-4'

    %table.table.table-striped.table-bordered
      %tr
        %th Name
    <% for attribute in attributes -%>
    %th <%= attribute.human_name %>
    <% end -%>
    -if show_actions
          %th Actions

      - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
        %tr
          %td= secured_link <%= singular_table_name %>
    <% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
    <% end -%>
      -if show_actions
            %td
              -if current_user.can_update?(<%= singular_table_name %>)
                = link_to content_tag(:i, '', class: 'fa fa-pencil right-5x') + ' Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-sm btn-secondary btn-block'
              -if current_user.can_delete?(<%= singular_table_name %>)
                = link_to content_tag(:i, '', class: 'fa fa-times right-5x') + ' Delete', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm btn-block'

    = paginate @<%= plural_table_name %>, theme: 'twitter-bootstrap-4'
