.card
  = render 'layouts/card_header', action_name: 'custom',
                                  title: audits_title(@audits, @audit_search),
                                  icon: 'fa-list'

  .card-body
    = render 'layouts/filter', search: @audit_search, path: audits_path
    = paginate @audits, theme: 'twitter-bootstrap-4'

    %table.table.table-striped.table-bordered
      %tr
        = render 'layouts/sort_headers', search: @audit_search
      - @audits.each do |audit|
        %tr
          %td
            %p= format_datetime(audit.created_at)
            %p #{distance_of_time_in_words_to_now(audit.created_at)} ago
          - if audit.action == 'destroy'
            %td #{audit.auditable_type} (#{audit.auditable_id})
          - else
            %td= audit_model_link(audit, audit.auditable)
          %td= audit.auditable_id
          %td= secured_link(audit.user)
          %td= display_audited_action(audit)
          %td= audit.remote_address
          %td= audit.id
          %td= simple_format(display_audited_changes(audit))
    = paginate @audits, theme: 'twitter-bootstrap-4'
