.form-inputs
  .row
    .col-lg-6= f.input :name
    .col-lg-6= f.input :website
  .row
    .col-lg-6= f.input :address_1
    .col-lg-6= f.input :address_2
  .row
    .col-lg-5= f.input :city
    .col-lg-1= f.input :state, as: :state
    .col-lg-2= f.input :zipcode
    .col-lg-2= f.input :email
    .col-lg-2= f.input :phone_number
  .row
    .col-lg-6= f.input :timezone, as: :time_zone, priority: timezone_us_filter
    - if RadConfig.validate_user_domains?
      .col-lg-6
        = f.input :valid_user_domains, as: :array,
                                       input_html: { type: :string },
                                       placeholder: 'Enter a domain, for example: abc.com',
                                       tooltip: t('tooltip.valid_user_domains')
  .row
    .col-lg-3
      = f.input :app_logo, hint: render_one_attachment(record: @company, attachment_name: 'app_logo', new_tab: true)
    .col-lg-3
      = f.input :fav_icon, hint: render_one_attachment(record: @company, attachment_name: 'fav_icon', new_tab: true)

  = render 'form_custom', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
