.form-inputs
  .row
    .col-lg-6= f.input :name
    .col-lg-6= f.input :website
  .row
    .col-lg-6= f.input :address_1
    .col-lg-6= f.input :address_2
  .row
    .col-lg-5= f.input :city
    .col-lg-1= f.input :state, collection: StateOptions.options
    .col-lg-2= f.input :zipcode
    .col-lg-2= f.input :email
    .col-lg-2= f.input :phone_number
  .row
    .col-lg-6= f.input :timezone, as: :time_zone, priority: timezone_us_filter
    .col-lg-3
      = f.input :valid_user_domains, as: :array,
                                     input_html: { type: :string },
                                     label: 'Valid user email domains',
                                     placeholder: 'Enter a domain, for example: abc.com',
                                     tooltip: t('tooltip.valid_user_domains')

    .col-lg-3= f.input :validity_checked_at, as: :date, html5: true

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
