= simple_form_for(@user, url: user_profile_path(@user), method: :put) do |f|
  = rad_form_errors f
  .card
    = render 'layouts/card_header', action_name: 'custom', title: 'IMLC Information', icon: 'fa-user'
    .card-body
      .row
        .col-lg-3= f.input :imlc, collection: options_for_enum(User, :imlc)
        .col-lg-3= f.input :imlc_primary_state, collection: @user.state_licensures.map(&:state)
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
