.card
  = render 'layouts/card_header', no_delete_button: true,
                                  no_show_link: true,
                                  index_path: '/rad_common/notification_types'

  .card-body
    = simple_form_for @notification_type, url: "/rad_common/notification_types/#{@notification_type.id}",
                                          method: :put do |f|
      = f.error_notification
      = base_errors(f)
      .form-inputs
        .row
          .col-lg-12
            = f.input :active
        - unless @notification_type.absolute_users?
          .row
            .col-lg-12
              = f.input :security_roles, as: :check_boxes,
                                         item_wrapper_class: 'col-lg-3 security-role-checkboxes',
                                         collection: security_role_collection(:all),
                                         checked: @notification_type.security_roles.ids,
                                         label: 'Security Roles to Notify'

      .form-actions
        = f.button :submit, 'Save', class: 'btn btn-primary'
