.card.card-default
  = render 'layouts/panel_header', no_show_link: true, index_path: '/rad_common/notification_types'
  .card-body
    = simple_form_for @notification_type, url: "/rad_common/notification_types/#{@notification_type.id}", method: :put do |f|
      = f.error_notification
      = f.error :base
      .form-inputs
        .row
          .col-lg-12
            %label Security Roles to Notify
            = f.input :security_roles, as: :check_boxes, item_wrapper_class: 'col-lg-3 security-role-checkboxes', collection: security_role_collection, checked: @notification_type.security_roles.ids, label: false

      .form-actions
        = f.button :submit, 'Save', class: 'btn btn-primary'
