- settings = policy_scope(@notification_type.notification_settings).enabled.by_user
- show_notifications = settings.count.positive?

.card
  = render 'layouts/card_header', no_delete_button: true, no_show_link: true
  .card-body
    = simple_form_for @notification_type, url: notification_type_path(@notification_type), method: :put do |f|
      = rad_form_errors f

      .form-inputs
        .row
          .col-lg-3= f.input :active
        .row
          .col-lg-3
            = f.input :bcc_recipient,
                      tooltip: 'Send a copy of any email notifications to this email address (not available for SMS)'

        .row
          - if @notification_type.email_enabled?
            .col-lg-3= f.input :default_email
          - if @notification_type.feed_enabled?
            .col-lg-3= f.input :default_feed
          - if @notification_type.sms_enabled?
            .col-lg-3= f.input :default_sms

        - unless @notification_type.absolute_users?
          .row
            .col-lg-12
              = f.input :security_roles, as: :check_boxes,
                                         item_wrapper_class: 'col-lg-3 security-role-checkboxes',
                                         collection: security_role_collection(:all),
                                         checked: @notification_type.security_roles.ids,
                                         label: 'Security Roles to Notify'

      .form-actions
        = f.button :submit, 'Save', class: 'btn btn-primary'

- if show_notifications
  .card
    = render 'layouts/card_header', action_name: 'custom', title: 'Notification Settings', icon: 'fa-list'
    = render 'notification_settings/index', settings: settings, show_user: true
