.card
  = render 'layouts/card_header'
  .card-body
    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Auth Mode
        %th Roles to Notify
        %th BCC Recipient
        %th Notifications
        %th Active
        %th.actions Actions
      - @notification_types.each do |record|
        %tr{ class: table_row_style(record) }
          %td= link_to record, edit_notification_type_path(record)
          %td= record.auth_mode_name
          %td
            - if record.absolute_users?
              n/a
            - record.security_roles.each do |security_role|
              = secured_link(security_role)
              %p
          %td= record.bcc_recipient
          %td= record.notifications.size
          %td= format_boolean record.active?
          %td.d-grid.gap-2
            = link_to icon(:pencil, 'Edit'),
                      edit_notification_type_path(record),
                      class: 'btn btn-sm btn-secondary btn-block'
