.card
  = render 'layouts/card_header'
  .card-body
    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Auth Mode
        %th Roles to Notify
        %th Active
        %th.actions Actions
      - @notification_types.each do |notification_type|
        %tr
          %td= link_to notification_type, "/notification_types/#{notification_type.id}/edit"
          %td= notification_type.auth_mode_name
          %td
            - if notification_type.absolute_users?
              n/a
            - notification_type.security_roles.each do |security_role|
              = secured_link(security_role)
              %p
          %td= format_boolean notification_type.active?
          %td
            = link_to icon(:pencil, 'Edit'),
                      "/notification_types/#{notification_type.id}/edit",
                      class: 'btn btn-sm btn-secondary btn-block'
