.card
  = render 'layouts/card_header'
  .card-body
    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Auth Mode
        %th Roles to Notify
        %th Active
        %th.actions Actions
      - @notification_types.each do |record|
        %tr{ class: table_row_style(record) }
          %td= link_to record, "/rad_common/notification_types/#{record.id}/edit"
          %td= record.auth_mode_name
          %td
            - if record.absolute_users?
              n/a
            - record.security_roles.each do |security_role|
              = secured_link(security_role)
              %p
          %td= format_boolean record.active?
          %td
            = link_to icon(:pencil, 'Edit'),
                      "/rad_common/notification_types/#{record.id}/edit",
                      class: 'btn btn-sm btn-secondary btn-block'
