= simple_form_for(@division) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :notify
    = f.input :timezone, as: :time_zone, priority: timezone_us_filter

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
