= simple_form_for(@division) do |f|
  = rad_form_errors f

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :division_status, collection: options_for_enum(Division, :division_status)
    = f.input :notify
    = f.input :hourly_rate
    = f.input :timezone, as: :time_zone, priority: timezone_us_filter
    - unless @division.new_record?
      = f.input :logo
    = f.input :icon

    = f.association :owner,
                    as: :grouped_select,
                    collection: UserGrouper.new(current_user,
                                                scopes: [:active],
                                                always_include: @division.owner).grouped_list,
                    group_method: :last

    = f.association :category,
                    as: :searchable_association,
                    search_scope: 'category_name',
                    search_placeholder: 'Search for a category'

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
