= simple_form_for(@division) do |f|
  = rad_form_errors f

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :division_status, collection: options_for_enum(Division, :division_status)
    = f.input :notify
    = f.input :hourly_rate
    = f.input :timezone, as: :time_zone, priority: timezone_us_filter
    - unless @division.new_record?
      = f.input :logo
    = f.input :icon

    = f.association :owner, as: :searchable_association, search_scope: 'user_name'
    = f.association :category, as: :searchable_association, search_scope: 'category_name'

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
