= simple_form_for(@division) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :division_status, collection: options_for_enum(Division, :division_status)
    = f.input :notify
    = f.input :hourly_rate
    = f.input :timezone, as: :time_zone, priority: timezone_us_filter
    - unless @division.new_record?
      = f.input :logo
    = f.input :icon

    = render 'layouts/simple_autocomplete', search_path: '/rad_common/global_search?global_search_scope=user_name',
                                            initial_value: @division.owner.to_s,
                                            base_object: :division,
                                            association: :owner,
                                            required: true,
                                            f: f

    = render 'layouts/simple_autocomplete', search_path: '/rad_common/global_search?global_search_scope=category_name',
                                            initial_value: @division.category&.name.presence || @division.category_name,
                                            base_object: :division,
                                            association: :category,
                                            required: false,
                                            allow_new: true,
                                            search_placeholder: 'Search for a category or add a new one',
                                            f: f

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
