= simple_form_for(@division) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :notify
    = f.input :timezone, as: :time_zone, priority: timezone_us_filter
    = render 'layouts/simple_autocomplete', search_path: '/rad_common/global_search?global_search_scope=user_name',
            initial_value: @division.owner.to_s, base_object: :division, association: :owner, f: f

  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
