- show_actions = show_actions?(Division)

.card
  = render 'layouts/card_header'
  .card-body
    - if @division_search.show_header?
      %h3 Showing header
    = render 'layouts/filter', search: @division_search, path: divisions_path

    = paginate @divisions, theme: 'twitter-bootstrap-4'

    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Code
        %th Owner
        %th Logo
        - if show_actions
          %th.actions Actions

      - @divisions.each do |division|
        %tr
          %td= secured_link division
          %td= division.code
          %td= secured_link(division.owner)
          %td= render 'layouts/attachment', record: division, attachment_name: 'logo', new_tab: true
          - if show_actions
            %td
              - if policy(division).update?
                = link_to icon(:pencil, 'Edit'),
                          edit_division_path(division),
                          class: 'btn btn-sm btn-secondary btn-block'

              - if policy(division).destroy?
                = link_to icon(:times, 'Delete'),
                          division,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-danger btn-sm btn-block'

    = paginate @divisions, theme: 'twitter-bootstrap-4'
