-show_actions = current_user.can_update?(Division) || current_user.can_delete?(Division)

.card.card-default
  = render 'layouts/panel_header'
  .card-body
    = paginate @divisions, theme: 'twitter-bootstrap-4'

    %table.table.table-striped.table-bordered
      %tr
        %th Name
        %th Name
        %th Code
        -if show_actions
          %th Actions

      - @divisions.each do |division|
        %tr
          %td= secured_link division
          %td= division.name
          %td= division.code
          -if show_actions
            %td
              -if current_user.can_update?(division)
                = link_to content_tag(:i, '', class: 'fa fa-pencil right-5x') + ' Edit', edit_division_path(division), class: 'btn btn-sm btn-secondary btn-block'
              -if current_user.can_delete?(division)
                = link_to content_tag(:i, '', class: 'fa fa-times right-5x') + ' Delete', division, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm btn-block'

    = paginate @divisions, theme: 'twitter-bootstrap-4'
