= render 'users/devise_layout' do
  %h4.ml-3= icon('lock', 'Change Your Password')
  %hr
  .card-body
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = rad_form_errors f
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token

      .form-inputs

        = f.input :password, label: 'New Password',
                                     required: true,
                                     autofocus: true,
                                     hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                     input_html: { autocomplete: 'new-password' }

        = f.input :password_confirmation, label: 'Confirm Your New Password',
                                          required: true,
                                          input_html: { autocomplete: 'new-password' }

      .form-actions
        = f.button :submit, 'Change My Password', class: 'btn btn-primary'

    = render 'users/shared/links'
