-if @firebase_logs
  -@firebase_logs.each do |log|
    .card
      = render 'layouts/card_header', action_name: 'custom',
                                      title: log.first.titleize,
                                      icon: 'fa-list',
                                      additional_actions: firebase_logs_actions(log)

      .card-body
        - if @limited_log_categories.include?(log.first)
          .alert.alert-warning
            This is a limited log result. More logs exist on Firebase
        %table.table.table-striped.table-bordered
          %tr
            %th Timestamp
            %th Key
            %th Error
            %th Log

          -firebase_log_rows(log).each do |row|
            -row[:log].delete('error')
            -row[:log].delete('timestamp')

            %tr
              %td
                -if row[:timestamp]
                  = format_datetime(DateTime.parse(row[:timestamp]))
              %td= row[:key]
              %td
                -error = row[:error]
                -if error
                  .alert.alert-danger= error
              %td= row[:log]
-else
  %p There are no Firebase logs yet
