= simple_form_for custom_report,
                  url: custom_report.persisted? ? custom_report_path(custom_report) : custom_reports_path,
                  local: true,
                  html: { data: { controller: 'report-builder formula-editor',
                                  action: 'submit->report-builder#submitForm',
                                  report_builder_filter_types_map_value: filter_types_map.to_json,
                                  formula_editor_config_value: RadReports::FormulaRegistry.to_json_config } } do |f|
  = rad_form_errors f

  .row
    .col-md-6
      = f.input :report_model,
                label: 'Base Model',
                collection: available_models,
                selected: custom_report.report_model,
                include_blank: 'Select a model to report on',
                disabled: @custom_report.persisted?,
                required: true,
                input_html: { class: 'selectpicker ays-ignore',
                              data: { report_builder_target: 'modelSelect',
                                      action: 'change->report-builder#modelChanged' } }
  - if custom_report.report_model.present?
    .row
      = f.input :name
      = f.input :description, as: :text, input_html: { class: 'form-control', rows: 2 }

    %hr

    .row
      .col-12
        %h5.mb-3
          %i.fa.fa-link.me-2
          Related Tables (Joins)

    .mb-4
      = render 'joins_section', custom_report: custom_report

    %hr.mt-4

    %h5.mb-3
      %i.fa.fa-columns.me-2
      Report Columns

    .mb-4{ data: { report_builder_target: 'columnsSection' } }
      = render 'columns_section', custom_report: custom_report

    %hr.mt-4

    %h5.mt
      %i.fa.fa-filter.me-2
      Filters

    = turbo_frame_tag 'report_filters_section' do
      - if custom_report.report_model.present?
        = render 'filters_section', custom_report: custom_report
      - else
        .alert.alert-info
          %i.fa.fa-info-circle.me-2
          Select a model first to add filters

    .form-actions.mt-3
      = f.button :submit, 'Save', class: 'btn btn-success'

    %div{ data: { report_builder_target: 'hiddenColumnsConfig' } }

    = render 'formula_editor'
