.card
  = render 'layouts/card_header', action_name: 'custom', title: 'Sentry Error Reporting Test', icon: 'fa-bug'
  .card-body
    = simple_form_for @user, url: "/rad_common/sentry_tests/#{@user.id}", method: :put do |f|
      = f.error_notification

      .form-inputs
        = f.input :first_name, placeholder: 'Enter anything here'
        = f.input :last_name, placeholder: 'Enter anything here'

      .form-actions
        = f.button :submit, 'Run the Test', class: 'btn btn-primary'
