.container
  %h2.text-center
    %u Terms and Conditions for #{RadicalConfig.app_name!}
  %h4 Introduction
  %p
    These Website Standard Terms and Conditions written on this webpage
    shall manage your use of our website, Webiste Name accessible at Website.com.

  %p
    These Terms will be applied fully and affect to your use of this Website.
    By using this Website, you agreed to accept all terms and conditions written in here.
    You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.

  %h4 Intellectual Property Rights
  %p
    Other than the content you own, under these Terms, #{RadicalConfig.app_name!} and/or its licensors
    own all the intellectual property rights and materials contained in this Website.
    You are granted limited license only for purposes of viewing the material contained on this Website.

  %p
    Your Content must be your own and must not be invading any third-party's rights.
    #{RadicalConfig.app_name!} reserves the right to remove any of Your Content from this Website at any time without
    notice.

  %h4 No warranties
  %p
    This Website is provided “as is,” with all faults, and #{RadicalConfig.app_name!} express no representations or
    warranties, of any kind related to this Website or the materials contained on this Website.
    Also, nothing contained on this Website shall be interpreted as advising you.

  %h4 Limitation of liability
  %p
    In no event shall #{RadicalConfig.app_name!}, nor any of its officers, directors and employees, shall be held liable
    for anything arising out of or in any way connected with your use of this Website whether such
    liability is under contract. #{RadicalConfig.app_name!}, including its officers, directors and employees shall
    not be held liable for any indirect, consequential or special liability arising out of or in any
    way related to your use of this Website.
