- verify_invite
= render 'users/devise_layout' do
  %h4.ml-3= icon('plus', t('devise.invitations.edit.header'))
  %hr
  .card-body
    = simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
      = rad_form_errors f
      = f.hidden_field :invitation_token
      .form-inputs
        = f.input :password, required: true
        = f.input :password_confirmation, required: true
      .form-actions
        = f.button :submit, t('devise.invitations.edit.submit_button'), class: 'btn btn-primary'
