- if assistant_session.response_id
  = turbo_stream.append assistant_session.chat_list_id do
    - url = check_response_assistant_session_path(assistant_session, response_id: assistant_session.response_id)
    = turbo_frame_tag "chat-response-#{assistant_session.response_id}",
                      data: { controller: 'chat-polling', chat_polling_url_value: url } do
      = render 'assistant_sessions/loading_message', assistant_session: assistant_session
      = turbo_stream.action :scroll_bottom, 'scroll-container'
