.flex-grow-1.chat-scroll-panel#scroll-container
  .chat-container.mt-3
    %ul.chat-box.chatContainerScroll{ id: dom_id(assistant_session, 'chat') }
      = render 'assistant_sessions/chat_messages', assistant_session: assistant_session
      - if assistant_session.status_processing? && assistant_session.current_message.present?
        = render 'assistant_sessions/chat_message_left',
                 assistant_session_log_data(assistant_session, assistant_session.log.last)

        :ruby
          response_id = "#{assistant_session.id}-#{Time.current.to_i}"

          data_args = { controller: 'chat-polling',
                        chat_polling_url_value: check_response_assistant_session_path(assistant_session,
                                                                                      response_id: response_id) }

        = turbo_frame_tag "chat-response-#{response_id}", data: data_args do
          = render 'assistant_sessions/loading_message', assistant_session: assistant_session

.border-top.pt-3.pb-4.px-4.bg-white
  = turbo_frame_tag 'chat-form' do
    = simple_form_for assistant_session,
                      url: assistant_session_path(assistant_session),
                      html: { data: { controller: 'llm-chat-form', 'llm-chat-form-target': 'form' } } do |f|
      .card
        - if assistant_session.context_object?
          .card-header
            .row
              .col-2
                %strong Questions For :
              .col-10= render 'assistant_sessions/context_picker_input', f: f, assistant_session: assistant_session
        .card-body
          .row
            .col-12
              .d-flex.flex-row
                .input-group
                  = render 'assistant_sessions/common_questions_dropdown', assistant_session: assistant_session, f: f
                  %input.form-control.ays-ignore{ name: 'assistant_session[current_message]',
                                                  placeholder: 'Ask a question...',
                                                  type: 'text',
                                                  id: 'assistant_session_current_message',
                                                  data: { 'llm-chat-form-target': 'currentMessage' } }
                  = f.button :button, type: :submit, class: 'btn btn-secondary', id: 'chat-submit-btn' do
                    = icon('paper-plane')
                  = f.button :button, type: :button, class: 'btn btn-secondary dropdown-toggle no-caret',
                                      'data-bs-toggle': 'dropdown' do
                    = '...'
                  %ul.dropdown-menu
                    %li
                      = f.button :button, name: 'reset_chat', value: 'reset' do
                        = icon('comment-slash', 'Clear Chat?')
