- chat_panel = assistant_session_chat_panel(assistant_session)
- if assistant_session.status_processing? && assistant_session.current_message.present?
  - chat_panel.additional_content = capture do
    - chat_msg = assistant_session_log_data(assistant_session, assistant_session.log.last)
    = render chat_msg.template, **chat_msg.locals

    :ruby
      response_id = "#{assistant_session.id}-#{Time.current.to_i}"

      data_args = { controller: 'chat-polling',
                    chat_polling_url_value: check_response_assistant_session_path(assistant_session,
                                                                                  response_id: response_id) }

    = turbo_frame_tag "chat-response-#{response_id}", data: data_args do
      = render 'assistant_sessions/loading_message', assistant_session: assistant_session

= render 'chat/panel', chat_panel: chat_panel do |f|
  - if assistant_session.context_object?
    .card
      .card-header
        .row
          .col-2
            %strong Questions For :
          .col-10= render 'assistant_sessions/context_picker_input', f: f, assistant_session: assistant_session
