.flex-grow-1.chat-scroll-panel.px-2#scroll-container
  .chat-container.mt-3
    %ul.chat-box.chatContainerScroll{ id: dom_id(assistant_session, 'chat') }
      = render 'assistant_sessions/chat_messages', assistant_session: assistant_session
      - if assistant_session.status_processing? && assistant_session.current_message.present?
        - log_data = assistant_session_log_data(assistant_session, assistant_session.log.last)
        = render log_data[:template], log_data
        = turbo_stream_from assistant_session
        %li.chat-left.mb-3.d-flex.mms.w-100#loading-message
          = render 'assistant_sessions/loading_message', assistant_session: assistant_session

.chat-input-area.border-top.pt-3.pb-4.px-4
  = turbo_frame_tag 'chat-form' do
    :ruby
      chat_instance = assistant_session.chat_instance
      mentions_enabled = chat_instance.mentions_enabled?
      mentions_url = mentions_assistant_session_path(assistant_session) if mentions_enabled
      mentionable_types = chat_instance.mentionable_types.to_json if mentions_enabled
    = simple_form_for assistant_session,
                      url: assistant_session_path(assistant_session),
                      html: { data: { controller: 'llm-chat-form',
                                      'llm-chat-form-target': 'form',
                                      'llm-chat-form-mentions-url-value': mentions_url,
                                      'llm-chat-form-mentionable-types-value': mentionable_types } } do |f|
      .card
        - if assistant_session.context_object?
          .card-header
            .row
              .col-2
                %strong Questions For :
              .col-10= render 'assistant_sessions/context_picker_input', f: f, assistant_session: assistant_session
        .card-body
          .row
            .col-12
              .d-flex.flex-row
                .input-group.shadow-md
                  = render 'assistant_sessions/common_questions_dropdown', assistant_session: assistant_session, f: f
                  - if mentions_enabled
                    .form-control.ays-ignore{ contenteditable: 'plaintext-only',
                                              id: 'assistant_session_current_message',
                                              data: { 'llm-chat-form-target': 'currentMessage',
                                                      placeholder: 'Ask a question... (use @ to mention)' } }
                    %input{ type: 'hidden',
                            name: 'assistant_session[current_message]',
                            data: { 'llm-chat-form-target': 'hiddenInput' } }
                  - else
                    %input.form-control.ays-ignore{ name: 'assistant_session[current_message]',
                                                    placeholder: 'Ask a question...',
                                                    type: 'text',
                                                    id: 'assistant_session_current_message',
                                                    autocomplete: 'off',
                                                    data: { 'llm-chat-form-target': 'currentMessage' } }
                  = f.button :button, type: :submit, class: 'btn btn-secondary', id: 'chat-submit-btn' do
                    = icon('paper-plane')
                  = f.button :button, type: :button, class: 'btn btn-secondary dropdown-toggle no-caret',
                                      'data-bs-toggle': 'dropdown' do
                    = '...'
                  %ul.dropdown-menu
                    %li
                      = f.button :button, name: 'reset_chat', value: 'reset' do
                        = icon('comment-slash', 'Clear Chat?')
      - if mentions_enabled
        .mention-dropdown.d-none{ data: { 'llm-chat-form-target': 'mentionDropdown' } }
