.card
  = render 'layouts/card_header', no_new_button: true, no_delete_button: true, no_edit_button: true

  .card-body
    .card-body.bg-secondary
    %table.table.table-striped.table-bordered
      %tr
        %th Date
        %th Role
        %th Content
      - logs_for_session(@assistant_session).each do |log|
        - log.symbolize_keys!
        %tr
          %td= log[:chat_date]
          %td= log[:role]
          %td
            - if log[:type] == 'function_call'
              %table.table
                %tr
                  %th Type
                  %th Name
                  %th Arguments
                %tr
                  %td= log[:type]
                  %td= log[:name]
                  %td= log[:arguments]
            - if log[:type] == 'function_call_output'
              %table.table
                %tr
                  %th Type
                  %th Output
                %tr
                  %td= log[:type]
                  %td= log[:output]
            = log[:content]
