- if attachment
  :ruby
    delete_link = if no_delete
                    nil
                  else
                    link_to tag.i('', class: 'fa fa-times'),
                            RadCommon::Engine.routes.url_helpers.attachment_path(attachment.id),
                            method: :delete,
                            data: { confirm: 'Are you sure? Attachment cannot be recovered.' },
                            class: 'btn btn-danger ml-5'
                  end

  .attachment-wrapper
    - if attachment.content_type.include?('image')
      :ruby
        link = override_path.present? ? override_path : url_for(attachment)
        target = new_tab ? '_blank' : nil

        attachment_label =
          label_override.presence || image_tag(attachment, class: 'img-fluid rounded', id: 'attachment_layout')

      = link_to(attachment_label, link, target: target, class: 'text-wrap')
      = delete_link
    - else
      :ruby
        default_label = tag.i('', class: "fa #{RadCommon::ContentTypeIcon.new(attachment.content_type)}") + filename_label
        attachment_label =
          label_override.presence || default_label

      .attachment-button-box
        = link_to attachment_label,
                  url_for(attachment),
                  target: '_blank',
                  rel: :noopener,
                  class: 'btn btn-secondary attachment-link text-wrap'

        = delete_link
