- card_presenter(local_assigns) do |card|
  .card-header
    .title-header
      %div{ class: "title-text #{card.title_class}" }
        - if card.output_icon.present?
          %div{ class: "fa #{card.output_icon}" }
        = card.output_title
      .action-buttons
        - card.output_actions.each do |action|
          = action
      - if card.output_external_actions.any?
        .external-actions
          - card.output_external_actions.each do |action|
            = action
      - if card.output_back_button?
        .back-button
          = link_to tag.it('', class: 'fa fa-times'), :back, class: 'btn btn-warning btn-sm'
