- if search.search_params? && search.invalid?
  - flash.now[:error] = search.error_messages
= simple_form_for :search, url: path, method: (defined?(form_method) ? form_method : :get) do |f|
  -# TODO: Set up permanent page size selection solution
  - if params[:page_size].present?
    = hidden_field_tag :page_size, params[:page_size]
  - search.filters.each_slice(5) do |filters|
    .row
      - col_class = filters.count > 2 ? 'col-lg' : 'col-lg-4'
      - filters.each do |filter|
        %div{ class: "#{col_class} #{filter_col_class(filter)}" }
          = render "layouts/filter_#{filter.filter_view}", filter: filter, search: search, f: f
  .form-actions
    = f.button :button, class: 'btn btn-success' do
      %i.fa.fa-filter
      Apply Filters
    \
    = link_to "#{path}?clear_filters=true", class: 'btn btn-danger' do
      %i.fa.fa-times
      Clear Filters
    %br
    %br
    - if defined? paged_results
      = render 'layouts/paging', paged_results: paged_results, f: f, search: search
