.d-none.d-md-block
  .d-flex.align-items-center.gap-2.mb-2
    = link_to icon(:filter, 'Toggle Filters'),
              '#search-filter-collapse',
              data: { 'bs-toggle': 'collapse' },
              class: "btn #{search.search_params? ? 'btn-warning' : 'btn-primary'} btn-sm"
    - if RadConfig.saved_search_filters_enabled?
      = render 'layouts/saved_filters_dropdown', search: search, path: path
    = render 'search_preferences/modal', search_preference: search.search_preference,
                                         allow_sticky_filters: search.allow_sticky_filters?


- if (search.search_params? && search.invalid?) || search.saved_filter_errors.present?
  - flash.now[:error] = search.error_messages

.d-block.d-md-none.text-end.mb-2.sticky-top.bg-white.py-2.border-bottom.border-secondary
  %button.btn.w-100{ class: search.search_params? ? 'btn-warning' : 'btn-primary',
                     type: 'button',
                     data: { bs_toggle: 'modal', bs_target: '#mobile-filters-modal' } }
    = icon 'filter', 'Filters'
.modal.fade#mobile-filters-modal{ tabindex: '-1', role: 'dialog' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header.bg-light.sticky-top
        %h4.modal-title= icon 'filter', 'Filters'
        %button.btn-close{ type: 'button', data: { bs_dismiss: 'modal' }, aria: { label: 'Close' } }
      .modal-body
        = render 'layouts/filter_form', search: search, path: path, paged_results: try(:paged_results), mobile: true

.d-none.d-md-block{ data: { controller: 'search collapse-state',
                            collapse_state_enabled_value: search.search_preference.remember_state?,
                            collapse_state_storage_key_value: "filter-collapse-#{search.search_name}" } }
  = render 'layouts/filter_form', search: search, path: path, paged_results: try(:paged_results), mobile: false
= render 'saved_search_filters/modal', search_name: search.search_name, search_filters: search.search_params
