= simple_form_for :search, url: path, method: :get do |f|
  -search.filters.each_slice(5) do |filters|
    .row
      -col_class = filters.count > 2 ? 'col-lg' : 'col-lg-4'
      - filters.each do |filter|
        %div{ class: col_class }
          = render "layouts/filter_#{filter.filter_view}", filter: filter, search: search, f: f

  .form-actions
    = f.button :button, class: 'btn btn-success' do
      %i.fa.fa-filter
      Apply Filters
    \
    = link_to path + '?clear_filters=true', class: 'btn btn-danger' do
      %i.fa.fa-times
      Clear Filters
    %br
    %br