- if (search.search_params? && search.invalid?) || search.saved_filter_errors.present?
  - flash.now[:error] = search.error_messages
.d-none.d-md-block
  = render 'layouts/filter_form', search: search, path: path, paged_results: try(:paged_results)

.d-block.d-md-none.text-right.my-2.sticky-top.bg-white.border-bottom.border-secondary.py-2
  %button.btn.btn-primary.btn-block{ type: 'button', data: { toggle: 'modal', target: '#mobile-filters-modal' } }
    = icon 'filter', 'Filters'

.modal.fade#mobile-filters-modal{ tabindex: '-1', role: 'dialog' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header.bg-light.sticky-top.d-flex.justify-content-between.align-items-center
        %h4.modal-title= icon 'filter', 'Filters'
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span{ aria: { hidden: 'true' } }
            = icon :times
      .modal-body
        = render 'layouts/filter_form', search: search, path: path, paged_results: try(:paged_results)
