- rad_nav = Nav.new(self)

.navbar.navbar-expand-lg.navbar-light.bg-light#navbar
  %div{ class: @marketing_site ? 'container' : 'container-fluid' }
    = link_to root_path, { class: 'navbar-brand' } do
      = image_tag company_logo(Company.main)
    - unless rad_nav.disable_nav?
      %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#navbar-supported-content' } }
        %span.navbar-toggler-icon
      .navbar-collapse.collapse.navbar-responsive-collapse#navbar-supported-content
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-left
            - if RadConfig.start_route! == '/onboardings'
              = render 'layouts/onboarding_navigation'
            - rad_nav.content.each do |item|
              = item
            %li.global-search-nav
              = render 'layouts/global_search'
        = render 'layouts/navigation_right'
