-if current_user.admin?

  - company = Company.main
  -no_divider = false if local_assigns[:no_divider].nil?

  -unless no_divider
    %li.dropdown-divider
  %li= link_to 'Users', users_path, class: 'dropdown-item'
  %li= link_to 'User Groups', user_groups_path, class: 'dropdown-item'
  %li= link_to 'Security Roles', security_roles_path, class: 'dropdown-item'
  %li= link_to 'Notification Types', '/rad_common/notification_types', class: 'dropdown-item'
  %li= link_to 'Company Info', edit_company_path(company), class: 'dropdown-item'
  %li= link_to 'System Usage', '/rad_common/system_usages', class: 'dropdown-item'
  %li= link_to 'System Message', RadCommon::Engine.routes.url_helpers.new_system_message_path, class: 'dropdown-item'
  %li= link_to 'Audit Search', audit_search_users_path, class: 'dropdown-item'
  -if current_user.admin?
    %li= link_to 'Background Jobs', '/sidekiq', target: '_blank', class: 'dropdown-item'
