- if current_user.admin?

  - no_divider = false if local_assigns[:no_divider].nil?

  - unless no_divider
    %li.dropdown-divider

  %li= link_to 'Audit Search', '/audits', class: 'dropdown-item'
  %li= link_to 'Background Jobs', '/sidekiq', target: '_blank', rel: :noopener, class: 'dropdown-item'
  %li= link_to 'Company Info', '/company/edit', class: 'dropdown-item'
  %li= link_to 'Notification Types', '/notification_types', class: 'dropdown-item'
  %li= link_to 'Security Roles', security_roles_path, class: 'dropdown-item'
  %li= link_to 'Sentry Test', new_sentry_test_path, class: 'dropdown-item'
  %li= link_to 'Sign In Activity', '/login_activities', class: 'dropdown-item'
  %li= link_to 'System Message', new_system_message_path, class: 'dropdown-item'
  %li= link_to 'System Usage', '/system_usages', class: 'dropdown-item'
  %li= link_to 'Contact Logs', contact_logs_path, class: 'dropdown-item'
  %li
    = link_to users_path, class: 'dropdown-item' do
      Users
      = duplicates_badge User
  %li= link_to 'Validate Database', '/global_validations/new', class: 'dropdown-item'
