- rad_nav = Nav.new(self)

.navbar.navbar-expand-lg.navbar-light.bg-white.shadow-sm.fixed-top#navbar
  %div{ class: @marketing_site ? 'container' : 'container-fluid' }
    = link_to root_path, { class: 'navbar-brand' } do
      = image_tag company_logo(Company.main)
    - unless rad_nav.disable_nav?
      .navbar-collapse
        - if user_signed_in?
          .navbar-search
            = render 'layouts/global_search'
        - elsif @marketing_site
          %ul.nav.navbar-nav.navbar-left
            - rad_nav.marketing_content.each do |item|
              = item
        = render 'layouts/navigation_right'

- unless rad_nav.disable_nav?
  - if user_signed_in?
    .sidebar#sidebar
      .sidebar-header
        %button.sidebar-toggle{ type: 'button', 'data-sidebar-toggle': true }
          = icon('bars')
      .sidebar-content
        %ul.nav.flex-column
          - if RadConfig.start_route! == '/onboardings'
            = render 'layouts/onboarding_navigation'
          - rad_nav.content.each do |item|
            = item
