- panel_presenter(local_assigns) do |panel|
  .panel-heading
    .title-header
      .title-text
        -if panel.action_name == "custom"
          -if panel.icon
            %div{class: "fa #{panel.icon}"}
          -if panel.title
            = panel.title
        -elsif panel.action_name == "edit" || panel.action_name == "update"
          -if panel.icon
            %div{class: "fa #{panel.icon}"}
          -else
            .fa.fa-pencil
          -if panel.title
            = panel.title
          -else
            Editing #{panel.object_label}:
            -if panel.no_show_link
              = panel.instance_label
            -else
              = link_to panel.instance_label, panel.instance
        -elsif panel.action_name == "new" || panel.action_name == "create"
          -if panel.icon
            %div{class: "fa #{panel.icon}"}
          -else
            .fa.fa-plus
          -if panel.title
            = panel.title
          -else
            New #{panel.object_label}
        -elsif panel.action_name == "show"
          -if panel.icon
            %div{class: "fa #{panel.icon}"}
          -else
            .fa.fa-file
          -if panel.title
            = panel.title
          -else
            #{panel.object_label}: #{panel.instance_label}
        -elsif panel.action_name == "index"
          -if panel.icon
            %div{class: "fa #{panel.icon}"}
          -else
            .fa.fa-list
          -if panel.title
            = panel.title
          -else
            -the_var = panel.controller.instance_variable_get("@" + panel.controller_name)
            #{panel.titleized_controller_name} (#{the_var.respond_to?(:total_count) ? the_var.total_count : the_var.count})
      .action-buttons
        -if panel.action_name == "show"
          -if !panel.no_edit_button && current_user && current_user.can_update?(panel.klass) && current_user.can_update?(panel.instance)
            = link_to content_tag(:i, "", class: "fa fa-pencil right-5px") + "Edit", panel.edit_url, class: "btn btn-default btn-sm"
        -panel.additional_actions.each do |additional_action|
          = additional_action
        -if !panel.no_delete_button && panel.instance && panel.instance.id && current_user && current_user.can_delete?(panel.klass) && current_user.can_delete?(panel.instance)
          -if panel.delete_button_content
            = panel.delete_button_content
          -else
            = link_to content_tag(:i, "", class: "fa fa-times right-5px") + 'Delete', panel.instance, method: :delete, data: { confirm: panel.delete_confirmation }, class: "btn btn-danger btn-sm"
      .pull-right
        -panel.external_actions.each do |external_action|
          = external_action
        -if panel.action_name == "edit" || panel.action_name == "update" || panel.action_name == "show"
          -if !panel.no_new_button && current_user && current_user.can_create?(panel.klass)
            = link_to content_tag(:it, "", class: "fa fa-plus-square right-5px") + "Add Another #{panel.object_label}", panel.new_url, class: "btn btn-success btn-sm", id: "new_#{panel.downcased_object_class}_link"
        -if !panel.no_index_button && ["show", "edit", "update", "new", "create"].include?(panel.action_name)
          -if current_user && current_user.can_read?(panel.klass)
            = link_to content_tag(:it, "", class: "fa fa-list right-5px") + "View " + panel.titleized_controller_name, "/#{panel.controller_name}", class: "btn btn-default btn-sm"
        -if panel.action_name == "index"
          -if !panel.no_new_button && current_user && current_user.can_create?(panel.klass)
            = link_to content_tag(:it, "", class: "fa fa-plus-square right-5px") + "New #{panel.object_label}", panel.new_url, class: "btn btn-success btn-sm", id: "new_#{panel.downcased_object_class}_link"
      -if panel.action_name == "new" || panel.action_name == "create"
        .pull-right.top-3px
          = link_to content_tag(:it, "", class: "fa fa-times"), :back, class: "btn btn-warning btn-sm"
