%button.btn.btn-secondary.dropdown-toggle#saved-search-filters-dropdown{ 'aria-expanded' => 'false',
  'aria-haspopup' => 'true',
  'data-toggle' => 'dropdown',
  type: 'button' }
  = icon(:filter, 'Saved Filters')
.dropdown-menu.dropdown-menu-right.p-2{ 'aria-labelledby' => 'saved-search-filters-dropdown' }
  = simple_form_for(SavedSearchFilter.new) do |f|
    = f.input :search_setting_id, as: :hidden, input_html: { value: rad_table.search_setting.id }
    = f.input :search_filters, as: :hidden, input_html: { value: rad_table.search.search_params.to_json }
    = f.input :name
    = f.button :button, class: 'dropdown-item btn btn-primary' do
      = icon :save, 'Save Current Filters'
    - if rad_table.saved_filters.any?
      .dropdown-divider
      %h6.dropdown-header.pl-3 Saved Filters
      - rad_table.saved_filters.each do |saved_filter|
        - search_params = { search: saved_filter.search_filters.merge(applied_filter: saved_filter.id) }
        - search_path = "#{rad_table.path}?#{search_params.to_query}"
        .dropdown-item.d-flex.px-0
          - is_active = rad_table.search.applied_saved_filter&.id == saved_filter.id
          = link_to saved_filter,
                    search_path,
                    class: "dropdown-item #{is_active ? 'col-12 active' : 'col-11'}",
                    id: "saved_filter_#{saved_filter.id}"
          - unless is_active
            = link_to icon(:times),
                      saved_filter,
                      method: :delete,
                      data: { confirm: 'Are you sure? This will delete the saved filter.' },
                      class: "dropdown-item mx-0 px-0 col-1 #{is_active ? 'active' : ''}",
                      id: "delete_saved_filter_#{saved_filter.id}"
