%button.btn.btn-success.dropdown-toggle.ms-1#saved-search-filters-dropdown{ 'aria-expanded' => 'false',
                                                                            'aria-haspopup' => 'true',
                                                                            'data-bs-toggle' => 'dropdown',
                                                                            type: 'button' }
.dropdown-menu.dropdown-menu-end{ 'aria-labelledby' => 'saved-search-filters-dropdown' }
  = f.button :button,
             id: 'save_and_apply_filters',
             class: 'dropdown-item btn btn-primary',
             data: { action: 'click->search#saveAndApplyFilters' } do
    = icon :save, 'Save and Apply Filters'
  - if search.saved_filters.any?
    .dropdown-divider
    %h6.dropdown-header.ps-3 Saved Filters
    - search.saved_filters.each do |saved_filter|
      - search_params = { search: saved_filter.search_filters.merge(applied_filter: saved_filter.id) }
      - search_path = "#{path}?#{search_params.to_query}"
      .dropdown-item.d-flex.justify-content-between.align-items-center
        - is_active = search.applied_saved_filter&.id == saved_filter.id
        = link_to saved_filter,
                  search_path,
                  id: "saved_filter_#{saved_filter.id}",
                  class: is_active ? 'text-success' : 'text-dark'
        - if is_active
          %span.text-success= icon :check
        - else
          = link_to icon(:times),
                    saved_filter,
                    method: :delete,
                    class: 'text-dark',
                    data: { confirm: 'Are you sure? This will delete the saved filter.' },
                    id: "delete_saved_filter_#{saved_filter.id}"
