%button.btn.btn-success.dropdown-toggle.ml-1#saved-search-filters-dropdown{ 'aria-expanded' => 'false',
  'aria-haspopup' => 'true',
  'data-toggle' => 'dropdown',
  type: 'button' }
.dropdown-menu.dropdown-menu-right{ 'aria-labelledby' => 'saved-search-filters-dropdown' }
  = f.button :button,
             id: 'save_and_apply_filters',
             class: 'dropdown-item btn btn-primary',
             data: { action: 'click->search#saveAndApplyFilters' } do
    = icon :save, 'Save and Apply Filters'
  - if search.saved_filters.any?
    .dropdown-divider
    %h6.dropdown-header.pl-3 Saved Filters
    - search.saved_filters.each do |saved_filter|
      - search_params = { search: saved_filter.search_filters.merge(applied_filter: saved_filter.id) }
      - search_path = "#{path}?#{search_params.to_query}"
      .dropdown-item.d-flex.px-0
        - is_active = search.applied_saved_filter&.id == saved_filter.id
        = link_to saved_filter,
                  search_path,
                  class: "dropdown-item #{is_active ? 'col-12 active' : 'col-11'}",
                  id: "saved_filter_#{saved_filter.id}"
        - unless is_active
          = link_to icon(:times),
                    saved_filter,
                    method: :delete,
                    data: { confirm: 'Are you sure? This will delete the saved filter.' },
                    class: "dropdown-item mx-0 px-0 col-1 #{is_active ? 'active' : ''}",
                    id: "delete_saved_filter_#{saved_filter.id}"
