!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=Edge,chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }
    %title= content_for?(:title) ? yield(:title) : application_page_title
    = csrf_meta_tags
    = favicon_link_tag company_fav_icon(Company.main), rel: 'shortcut icon'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module'
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'

  %body
    - if RadConfig.portal? && (portal_subdomain? || !user_signed_in? || current_user.portal_user?)
      = render 'layouts/navigation_portal'
      = render 'layouts/toast'
      .container-fluid.content
        .row
          .col-lg-12
            - if user_signed_in?
              = render 'layouts/user_notifications'
            .hidden-print#flash-messages= bootstrap_flash
            = yield
    - else
      - if RadConfig.action_cable_enabled? && user_signed_in?
        = turbo_stream_from "notifications_#{current_user.id}"
      = render 'layouts/navigation'
      = render 'assistant_sessions/chat_offcanvas', chat_class: @chat_class, chat_scope: @chat_scope
      .toast-container.position-fixed.bottom-0.end-0.p-3#toast-stream-container
        = render 'layouts/toast'
      .container-fluid.content
        .row
          .col-lg-12
            - if user_signed_in?
              = render 'layouts/global_search'
              = render 'layouts/wrong_timezone'
            = render 'layouts/header'
            = bootstrap_flash
            = yield

    = render_global_lazy_containers
