:ruby
  company = @override_company.presence || Company.main
  logo_includes_name = RadConfig.app_logo_includes_name?
  protocol = Rails.env.production? || Rails.env.staging? ? 'https' : 'http'
  website = company.website
  company_name = company.name
  company_full_address = company.full_address
  company_phone_number = company.phone_number
  admin_email = company.email
  has_avatar = RadConfig.avatar? && @sender && @sender.avatar.attached?

!!!
%head
  = stylesheet_pack_tag 'rad_mailer', media: 'all'
%body
  .email-bg
    .email-container
      .email-header
        .email-row
          .email-col-12.logo-col
            = link_to image_pack_tag(RadConfig.app_logo_filename!, alt: company_name, title: company_name), website

            - unless logo_includes_name
              %span.logo_text
                = company_name
      .email-body
        - if @recipient
          .greeting-row
            .greeting
              .text
                - if @recipient.respond_to?(:greeting)
                  #{@recipient.greeting},
                - elsif @recipient.is_a?(String)
                  Hello #{@recipient},
                - elsif @recipient.respond_to?(:count)
                  Hello all,
                - else
                  - raise "please set up greeting method in #{@recipient.class} before using this mailer"
        .email-row
          .email-col-12
            %br
            - if has_avatar
              = image_tag(@sender.avatar.variant(resize: '25x25'), alt: @sender.to_s, title: @sender.to_s)
            = @message

        - if @include_yield
          = yield

        - if @email_action
          = render 'layouts/email_action',
                  message: @email_action[:message],
                  button_text: @email_action[:button_text],
                  button_url: @email_action[:button_url]

      .email-header
        .email-row
          .email-col-12.text-align-center
            - if @notification_settings_link
              .footer
                .footer-item
                  Click
                  = link_to 'here', "#{protocol}://#{RadConfig.host_name!}/rad_common/notification_settings"
                  to opt out or change your notification settings.
            .footer
              .footer-item= company_name
              - if company_full_address.present?
                .footer-item= company_full_address
              - if company_phone_number.present?
                .footer-item= link_to company_phone_number, "tel:#{company_phone_number}"
              .footer-item= link_to website, website
              .footer-item= link_to @footer_email || admin_email, "mailto:#{@footer_email || admin_email}"
