.card
  = render 'layouts/card_header', action_name: 'custom', title: 'My Account', icon: 'fa-address-card',
                                  additional_actions: [setup_authenticator_btn]
  .card-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = rad_form_errors f

      .form-inputs
        .row
          .col-lg-6= f.input :email, required: true, autofocus: true
          .col-lg-6
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %p
                Currently waiting confirmation for: #{resource.unconfirmed_email}
        .row
          .col-lg-6= f.input :first_name, required: true
          .col-lg-6= f.input :last_name, required: true
        .row
          .col-lg-6= f.input :mobile_phone, required: require_mobile_phone?
          - if RadConfig.avatar?
            .col-lg-3= f.input :avatar
        .row
          .col-lg-6= f.input :timezone, as: :time_zone, priority: timezone_us_filter
        - if RadConfig.switch_languages?
          .row
            .col-lg-6= f.input :language, collection: options_for_enum(User, :language)
        .row
          .col-lg-6= f.input :password, label: 'New Password', hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: 'new-password' }
          .col-lg-6= f.input :password_confirmation, label: 'New Password Confirmation', required: false, input_html: { autocomplete: 'new-password' }
        .row
          .col-lg-6= f.input :current_password, hint: 'we need your current password to confirm your changes', required: true, input_html: { autocomplete: 'current-password' }

      .form-actions
        = f.button :submit, 'Save', class: 'btn btn-primary'
.card
  = render 'layouts/card_header', action_name: 'custom', title: 'Multi-Factor Authentication', icon: 'fa-shield-halved'
  .card-body
    %table.table
      %tr
        %th Method
        %th Status
        %th Action
      %tr
        %td Authenticator App
        %td= multi_factor_status
        %td= setup_authenticator_btn
