- verify_sign_up

.card
  = render 'layouts/card_header', action_name: 'custom', title: 'Sign Up', icon: 'fa-file'
  .card-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      = base_errors(f)
      .form-inputs
        .row
          .col-lg-4
            - if sign_up_roles.size > 1
              = f.input :initial_security_role_id,
                        label: 'Initial security role',
                        collection: sign_up_roles,
                        include_blank: false

            - else
              = f.input :initial_security_role_id, as: :hidden, input_html: { value: sign_up_roles.first.id }
        .row
          .col-lg-4
            = f.input :email, required: true, autofocus: true, input_html: { autocomplete: 'email' }
          .col-lg-4
            = f.input :first_name, required: true
          .col-lg-4
            = f.input :last_name, required: true
        .row
          .col-lg-4
            = f.input :mobile_phone, required: require_mobile_phone?
          .col-lg-4
            = f.input :password, required: true,
                                 hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                 input_html: { autocomplete: 'new-password' }

          .col-lg-4
            = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password' }
        .row.mb-3
          .col-2
            = check_box_tag :accept_terms, false, false
            %label.pb-2{ for: 'accept_terms' }
              I agree to the #{link_to('Terms & Conditions', terms_path, target: '_blank', rel: 'noopener')}

      .form-actions
        = f.button :submit, 'Sign Up', class: 'btn btn-primary', disabled: true

    = render 'users/shared/links'
