.card
  = render 'layouts/card_header', action_name: 'custom', title: 'Renew Your Password', icon: 'fa-lock'
  .card-body
    = simple_form_for(resource, as: resource_name, url: [resource_name, :password_expired], html: { method: :put }) do |f|
      = render partial: 'devise/shared/error_messages'
      .form-inputs
        = f.input :current_password, required: true,
                             autofocus: true,
                             hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                             input_html: { autocomplete: 'current-password' }

        = f.input :password, required: true,
                             autofocus: true,
                             hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                             input_html: { autocomplete: 'new-password' }

        = f.input :password_confirmation, label: 'Confirm your new password',
                                          equired: true,
                                          input_html: { autocomplete: 'new-password' }

      .form-actions
        = f.button :submit, 'Change My Password', class: 'btn btn-primary'

    = render 'users/shared/links'
